.adm_out {
    padding: 10px;
}

/*

input {
	min-height:30px;
}

/* admin quan ly thu vien anh - file */
.blocimg {
    padding: 4px 12px;
	display:inline-block;
	border:0px solid #ff0000;
}

.blocimg .gricon {    
	display:block;
	height:30px;	
	border:0px solid #fff000;
}

.blocimg .gricon span {    
	display:inline-block;
	position: relative;
	height:25px;
	width:20px;
	border:0px solid #000;
}

.blocimg .gricon span input {    	
	top:5px !important;
	min-height:auto;
	position: absolute;	
}

.blocimg .gricon span img {    	
	top:9px;
	margin-left:5px;
	position: absolute;	
}

.admbtn { 
	background: -moz-linear-gradient(center top, #fff, #ccc);
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ccc));
	background:  -o-linear-gradient(top, #fff, #ccc);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fff', EndColorStr='#ccc');
    
	border-color:#ddd; 
	border-width:1px;
/*	
	border-radius:4px 4px 4px 4px;
	-moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	*/
	color:#000;
	cursor:pointer;
	display:inline-block;
	padding:5px 13px;	
	font-size:13px;
	margin-right:2px;
}

.admbtn:hover { background:#ddd; }
.checktv  {    	
	min-height:auto !important;	
}
.texttv  {    	
	color:#000;	
	font-size:14px;
	FONT-FAMILY:  Arial, Helvetica, sans-serif;
}
a.linkopacity img {
     filter:alpha(opacity=95);
     -moz-opacity: 0.95;
     opacity: 0.95;
     -khtml-opacity: 0.95;
}

a.linkopacity:hover img {
     filter:alpha(opacity=100);
     -moz-opacity: 1.0;
     opacity: 1.0;
     -khtml-opacity: 1.0;    
    -moz-box-shadow: 3px 3px 7px #999;
	-webkit-box-shadow: 3px 3px 7px #999;
     box-shadow: 3px 3px 7px #999;
}
.box-phantrang{
	clear:both;	
	margin:0 auto;
	text-align:center;
}

.box-phantrang ul{
	/*margin: 0 160px;	*/
    overflow: hidden;
    padding-top: 4px;
	text-align:center;
}

.box-phantrang .numpaging {	
	background:url(../images/iconnav.jpg) no-repeat center left;	
	margin-right:4px;
	margin-top:0px;
	height: 27px;
	width: 29px;
	color:#5b9a00;
	font-size:14px;
	FONT-FAMILY:  Arial, Helvetica, sans-serif;
	line-height: 27px;
	display: inline-block;
	/*fix for IE 7*/
	zoom:1;
	*display: inline;
	/*border:1px solid #aba000;*/

}



.box-phantrang ul li span {	
	color:#ff0000;
	font-weight: bold;
	font-size:14px;
	FONT-FAMILY:  Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.linkpage {	
	color:#5b9a00;
	font-size:14px;
	FONT-FAMILY:  Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.linkpage:hover {	
	color:#ff0000;
	font-size:14px;
	FONT-FAMILY:  Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.linkxam {	
	color:#555;
	font-size:14px;
	FONT-FAMILY:  Arial, Helvetica, sans-serif;
	text-decoration:none;
}

.linkxam a {	
	text-decoration:none;
}

.do {
	FONT-SIZE: 14px; COLOR: #FF0000; FONT-FAMILY:  Arial, Helvetica, sans-serif;
}
A.do  {
	TEXT-DECORATION: none !important;
}
A.do :link {
	COLOR: #FF0000; TEXT-DECORATION: none;
}
A.do :visited {
	COLOR: #FF0000; TEXT-DECORATION: none;
}
A.do :active {
	COLOR: #FF0000; TEXT-DECORATION: none;
}
A.do :hover {
	COLOR: #000000; TEXT-DECORATION: none;
}

.txtfile  {    	
	display:block;
	width:100px;
	overflow:hidden;
	font-size:10px;
	FONT-FAMILY:  Arial, Helvetica, sans-serif;
}

.upfile  {    	
	display:none;	
}
