<div class="item fadeInLeft wow">
	<div class="img-sp">
		<a href="info-<?=$id_type?>-<?=$name_link?>.html?idcat=<?=$idn?>"><img src="images/bin/imagenews/<?=$PICTURE?>"/></a>
	</div>
	<a href="info-<?=$id_type?>-<?=$name_link?>.html?idcat=<?=$idn?>" class="name-product"><?=$titlename?></a>
	<div class="content-pro">
		<?=$SCONTENTSHORT?>
	</div>
	<div class="txtCenter box-btn">
		<a href="info-<?=$id_type?>-<?=$name_link?>.html?idcat=<?=$idn?>" class="btn-detail"><?=$lang['chitiet']?></a>
	</div>
</div>
