<div class="item">
	<div class="col-md-6">
		<div class="cover-img">
			<a href="chitiet-<?=$idn?>-<?=$name_link?>.html"><img src="images/bin/imagenews/<?=$PICTURE?>"/></a>
		</div>
	</div>
	<div class="col-md-6">
		<a href="chitiet-<?=$idn?>-<?=$name_link?>.html" class="name-news"><?=$titlename?></a>
		<div class="content-news">
			<?=$SCONTENTS?>
		</div>
		<div class="txtRight box-link">
			<a href="chitiet-<?=$idn?>-<?=$name_link?>.html" class="link-detail"><?=$lang['chitiet']?></a>
		</div>
	</div>
</div>