<div class="col-md-10 middle-about-timeline">
<div class="wrap_tree">
<div class="year_b right_icon" id="year_b_1">2017</div>

<div class="clearAll">&nbsp;</div>

<div class="timeline">
<div class="year right_icon">2016</div>

<div class="timeline_item timeline_left first_timeline">
<div class="timeline_check">&nbsp;</div>

<div class="timeline_arrow">&nbsp;</div>

<div class="timeline_item_title"><span>Founded GC USA in October 2016</span></div>
<img alt="Cung cap nha dam hang dau Viet nam" src="images/bin/imagenews/news_1484271267_vuonnhadam1.jpg" style="width: 323px; height: 215px;" title="Cung cấp nha đam hàng đầu Việt nam" />
<div class="timeline_des">8/2016 Founded GC USA, a trading company to export GC food&#39;s products into USA Market</div>

<div class="clearAll">
<div class="clearAll">&nbsp;</div>
</div>
</div>

<div class="timeline_item timeline_right">
<div class="timeline_arrow">&nbsp;</div>

<div class="timeline_item_title"><span>Founded VN Co Co Food Co.,Ltd in July 2016</span></div>
<img alt="Công ty Cô Cô Việt nam" src="images/bin/imagenews/nhamaygc-14868045511039896236.png" style="width: 323px; height: 110px;" />
<div class="timeline_des">Founded VN Co Co Food Co.,Ltd at Ho Nai Industrial Zone, in Dong Nai Province that is leading of production of Nata De Co Co .</div>
</div>
</div>

<div class="clearAll">&nbsp;</div>

<div class="year_b left_icon" id="year_b_1">2015s</div>
&nbsp;

<div class="clearAll">&nbsp;</div>

<div class="timeline">
<div class="year right_icon">10/2015</div>

<div class="timeline_item timeline_left first_timeline">
<div class="timeline_check">&nbsp;</div>

<div class="timeline_arrow">&nbsp;</div>

<div class="timeline_item_title"><span>Researched and developed Nata De Co Co Jelly</span></div>
<img alt="Nhận Huân chương Lao động hạng Nhì" src="images/bin/imagenews/thachdua-1486803138322746160.jpg" style="width: 320px; height: 253px;" title="Nhận Huân chương Lao động hạng Nhì" />
<div class="timeline_des">
Researched and developed Nata De Co Co Jelly, GC food produced Nata De Co Co Jelly to provide for domestic and export market.

<p>&nbsp;</p>
</div>
</div>
</div>

<div class="clearAll">&nbsp;</div>

<div class="timeline">
<div class="year left_icon">09/1015</div>

<div class="timeline_item timeline_right first_timeline">
<div class="timeline_check">&nbsp;</div>

<div class="timeline_arrow">&nbsp;</div>

<div class="timeline_item_title"><span>Founded Vietfarm JSC in September 2015</span></div>
<img alt="Cánh Đồng Việt" src="images/bin/imagenews/canhdongviet2-14868036561694417758.png" style="width: 323px; height: 242px;" title="Khánh thành Nhà máy sữa đầu tiên ở Hà Nội" />
<div class="timeline_des">
Built Aloe Vera manufacturing in Thanh Hai industrial Zone, Ninh Thuan Province where has Aloe Vera plantation.
</div>
</div>

<div class="clearAll">&nbsp;</div>
</div>

<div class="clearAll">&nbsp;</div>

<div class="year_b right_icon" id="year_b_1">2012s</div>

<div class="clearAll">&nbsp;</div>

<div class="timeline">
<div class="year right_icon">09/2012</div>

<div class="timeline_item timeline_left first_timeline">
<div class="timeline_check">&nbsp;</div>

<div class="timeline_item_title"><span>Became the largest processing and supplying company in Aloe Vera in Vietnam</span></div>
<img alt="Nhận Huân chương Lao động hạng Ba" src="images/bin/imagenews/nhakho-1486802630332961296.jpg" style="width: 323px; height: 170px;" title="Nhận Huân chương Lao động hạng Ba" />
<div class="timeline_des">
With the development of more than 100 hectares Plantation of Aloe Vera planation in the South of Central Vietnam and modern machineries, In 2012, GC Foods became the largest supplier of Aloe Vera products for large companies such as Vinamilk, Rita, Fesdy, ...
</div>
</div>

<div class="clearAll">&nbsp;</div>

<div class="clearAll">&nbsp;</div>
</div>

<div class="clearAll">&nbsp;</div>

<div class="year_b left_icon" id="year_b_1">2011</div>

<div class="clearAll">&nbsp;</div>

<div class="timeline">
<div class="timeline_item timeline_right timeline_last first_timeline">
<div class="timeline_arrow">&nbsp;</div>

<div class="timeline_item_title"><span>G.C food Co.,&nbsp;Ltd. was established in 2011.</span></div>
<img alt="nha may" src="images/bin/imagenews/nhamaygcfood-14867987351006188375.jpg" style="width: 323px; height: 170px;" title="" />
<div class="timeline_des">
<div>
<div class="timeline_des">Main products: production and processing of aloe vera, coconut and coconut jelly, coffee of all kinds, chilli and raw materials from chili, spices such as onion, garlic, ...
</div>
</div>
</div>
</div>
</div>
</div>
</div>
