<div class="row">
	<div class="col-xs-12">
	<h3 class="header smaller lighter green" style="margin-bottom: 60px;"><?=$lang['welcome_admin_manager']?></h3>
	<p></p>
        <a style="padding:80px"href="?act=adm_company"><img src="images/item-ql-cty-sp.png" alt=""></a>
		<a style="padding:80px"href="?act=adm_commonlist"><img src="images/item-ql-thongtinchung.png" alt=""></a>
       	<a style="padding:80px"href="?act=adm_account"><img src="images/item-ql-taikhoan.png" alt=""></a>
      	<a style="padding:80px"href="?act=adm_contacts"><img src="images/item-ql-email-mark.png" alt=""></a>
		<a style="padding:80px"href="?act=adm_category"><img src="images/item-ql-caidat.png" alt=""></a>		
    </div><!-- end box-item-quanly-->
</div>