<link href="up_img/css/jquery.filer.css" type="text/css" rel="stylesheet" />
<link href="up_img/css/themes/jquery.filer-dragdropbox-theme.css" type="text/css" rel="stylesheet" />
<script type="text/javascript" src="up_img/js/jquery.filer.min.js?v=1.0.5"></script>
<script type="text/javascript" src="up_img/js/custom_tvanh.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<script src="ckeditor/ckeditor.js"></script>

<div class="breadcrumbs ace-save-state" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#"><?=$lang['adm_home']?></a>
		</li>

		<li>
			<a href="#"><?=$lang['adm_thuvienanh']?></a>
		</li>
	</ul><!-- /.breadcrumb --><!-- /.nav-search -->
</div>
<div class="adm_out" >
<div class="adm_common">
<div class="upfile">
<form name="f2" action="upload.html" method="post" enctype="multipart/form-data">
      <input type="file" name="files[]" id="filer1" multiple="multiple">
	  <input type="hidden" id="nameCKEditor" name="nameCKEditor" value="<?=$nameCKEditor?>">
	  <input type="hidden" id="fnum" name="fnum" value="<?=$fnum?>">
	  <input type="hidden" id="langCode" name="langCode" value="<?=$langCode?>">
	  <div><span class="texttv"><br />File thuộc định dạng: <br /><em>(jpg,jpeg,gif,png,bmp,pdf,doc,docx,xls,xlsx,ppt,pptx,txt,mp3,wmv,mp4,avi,wav,wma,mpg,mpeg,swf,flv)<br /><br /></em></span></div>
      <!--<input type="submit" value="Submit"> -->
</form>
</div>
<!-- <?=$submenu2?> -->
<form name="f1" method="post" >
<input type="hidden" id="vlid" name="vlid" value="">
<input type="hidden" id="idtype1" name="idtype1" value="<?=$idtype?>">
		
<table border="0" width="98%">
	<tr>
		<td>
		<table border="0" width="100%" >
			<tr>
			  <td height="14" class="menu" ><button class="admbtn" type="button" name="ct1" value="" onClick="deletelistimg('','Vui l&ograve;ng ch&#7885;n &iacute;t nh&#7845;t 1 file!','B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a?', document.forms.f1.ck, document.forms.f1.vlid,'<?=$thumuc?>');" >Xoá file </button> <button class="admbtn" type="button" name="ct2" value="" onClick="window.location.href='thu-vien-anh.html?f=0';" >Quản lý ảnh </button> <button class="admbtn" type="button" name="ct3" value="" onClick="window.location.href='thu-vien-anh.html?f=1';" >Quản lý file </button> <button class="admbtn" type="button" name="ct4" value="" onClick="showup();" >Upload ... </button></td>
			</tr>
		</table>
		<table border="0" width="100%" cellpadding="0" cellspacing="0" >
			<tr>
			  <td height="10" align="left" ></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		<table border="0" cellpadding="0" cellspacing="0" width="994" id="simple-table" class="table">	
			<thead>
			<tr>
			  <td colspan="15" align="left" height="10"><input name="allbox" type="checkbox" onclick="checkall(this.form);" title="Check All"> 
				Ch&#7885;n t&#7845;t c&#7843;  / H&#7911;y ch&#7885;n t&#7845;t c&#7843;    </td>
			</tr>
			</thead>
			<tr>
				<td colspan="15" align="left" height="10"><span class="dotline_comments"></span></td>
			</tr>
			<?=$list_images?>		
		</table>
		</td>
	</tr>
	<tr>
		<td height="5"></td>
	</tr>
	<tr>
		<td height="25" align="center"><div class="box-phantrang">
            		<div class="modal-footer no-margin-top">
						<ul class="pagination pull-right no-margin">
							<?=$paging?>
						</ul>	
					</div>
            	</div></td>
	</tr>
</table>
</form>
</div>
</div>
<script type="text/javascript">
function showup() {	
	//$('.upfile').attr("style","display:block");	
	$('.upfile').toggle("fast");
}

function filtertype() {
	window.location.href='index.php?act=adm_library&cat='+$('#catfilter').val();	
	}
function delimage(idcom,imgname, thumuc) {
	//alert(imgname);
	$.ajax({
		url: 'index.php',
		type: 'POST',
		data: 'act=delimage&idcom='+idcom+'&imgname='+imgname+'&thumuc='+thumuc,
		success: function(data) {
		//alert(data);
		var getData = $.parseJSON(data);
		//$('#showlibrary').html(data);
		//document.getElementById("showlistimg").style.display = "block";
		if(getData.mess1 == "success") window.location.reload();
		else alert(getData.mess2);
		
		}
	});
}

function deletelistimg(idcom, mess1, mess2, cklist, vlidlist, thumuc) {
	getValueListCheckBoxspec(cklist,vlidlist);
	var vlidtemp = $("#vlid").val();
	//alert(vlidtemp);
	if (vlidlist.value=='') alert(mess1);
	else if(confirm(mess2)){		
		$.ajax({
			url: 'index.php',
			type: 'POST',
			data: 'act=delimage&idcom='+idcom+'&ac=d&vlid='+vlidtemp+'&thumuc='+thumuc,		
			success: function(data) {
			//alert(data);
			var getData = $.parseJSON(data);
			//$('#showlibrary').html(data);
			//document.getElementById("showlistimg").style.display = "block";
			if(getData.mess1 == "success") window.location.reload();
			else alert(getData.mess2);
			
			}
		});
	}
}	
	

</script>