<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<table border="0" width="1000" cellspacing="0" cellpadding="0">
	<tr>
		<td height="1" bgcolor="#FFF5EA"></td>
	</tr>
</table>
<?=$submenu2?>
<form name="f1" >
<input type="hidden" id="vlid" name="vlid" value="">
<table border="0" width="1000">
	<tr>
		<td>
		<table border="0" width="100%" bgcolor="#FFF5EA">
			<tr>
			  <td height="14" class="title" ><img src="images/bg-title.gif"  height="14">
				<a href="#" onclick="delit('',document.forms.f1.ck, document.forms.f1.vlid);" class="menu">X&oacute;a email </a></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>
		<table border="0" width="994" cellspacing="0">
			<tr bgcolor="#EEEEEE">
				<td width="30" class="do" height="25"><input name="allbox" type="checkbox" onclick="checkall(this.form);" title="Check All"></td>
				<td height="25" class="do">Email  </td>
				<td class="do">Ng&agrave;y &#273;&#259;ng k&yacute; </td>
				<td colspan="4" class="do">ACTION</td>
			</tr>						
			<?=$contacts_rs?>
		</table>
		</td>
	</tr>
	<tr>
		<td height="5"></td>
	</tr>
	<tr>
		<td height="25" align="center"><div id="divPaging"><?=$paging?></div></td>
	</tr>
</table>
</form>
<script type="text/javascript">
function delaction(idp,vlid) {
		$.ajax({
			url: 'index.php',
			type: 'POST',
			data: 'act=adm_deletecontact&ac=d&idp='+idp+'&vlid='+vlid,
			success: function(data) {
				var getdata = $.parseJSON(data);
				if(getdata.mess1 == "success"){
					//alert(getdata.mess2);
					window.location.reload();
				}
				else $('#err').html(getdata.mess2);//alert(getdata.mess2);		
			}
		});	
	}
	
	function delit(idp,listck,listid) {		
	var str1 = "Vui lòng chọn ít nhất 1 dòng!";
	var str2 = "Bạn chắc chắn muốn xóa?";
	if(idp ==""){
		getValueListCheckBox(listck,listid);
		if (listid.value=='') alert(str1);
		else if(confirm(str2)){
			//alert($('#vlid').val());
			var id_list = $('#vlid').val();
			delaction(idp,id_list);
			
		}
	}
	else {
		if(confirm(str2)){
		delaction(idp,'');
		}
	}
	
}
</script>