<tbody>
<tr bgcolor="#FFFFFF">
	<td width="20" height="25"><?=$IORDER?></td>
	<td width="342" height="25" class="menu"><?=$name?></td>	
	<td width="342" class="menu"><?=$STATUS?></td>
	<td width="23"><a href="#"  title="Edit" onclick="window.open('index.php?act=updatecommoncatsub&idcatsub=<?=$idcatsub?>&ac=e','Editcommoncatpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,\'100%\',height=\'100%\'');"  ><img src="images/icon_edit.png" width="16" alt="Edit"></a></td>
	<td width="23"></td>
	<td width="27"></td>
	<td width="42"></td>
</tr>
</tbody>