<table width="300" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td width="90" ><div class="borderthumb"><table width="90" height="100" border="0" cellpadding="0" cellspacing="0" >
        <tr>
          <td width="90" align="center" valign="middle" ><a href="javascript:void(0);" class="linkopacity" onmouseover="document.getElementById('change_img').src='images/bin/<?=$ID_CATEGORY1?>/<?=$NAME_IMG1?>';document.getElementById('change_img').width='<?=$wdt1?>';document.getElementById('change_img').height='<?=$hdt1?>';" ><img class="border_line" src="images/bin/<?=$ID_CATEGORY1?>/<?=$NAME_IMG1?>" width="<?=$wthumb1?>" height="<?=$hthumb1?>" ></a></td>
        </tr>        
      </table></div></td>
      <td width="15">&nbsp;</td>
      <td width="90"><div class="borderthumb" <?=$dis1?>><table width="90" height="100" border="0" cellpadding="0" cellspacing="0" <?=$dis1?> >
        <tr>
          <td width="90" align="center" valign="middle" ><a href="javascript:void(0);" class="linkopacity" onmouseover="document.getElementById('change_img').src='images/bin/<?=$ID_CATEGORY2?>/<?=$NAME_IMG2?>';document.getElementById('change_img').width='<?=$wdt2?>';document.getElementById('change_img').height='<?=$hdt2?>';" ><img class="border_line" src="images/bin/<?=$ID_CATEGORY2?>/<?=$NAME_IMG2?>" width="<?=$wthumb2?>" height="<?=$hthumb2?>" ></a></td>
        </tr>               
      </table></div></td>
      <td width="14">&nbsp;</td>
      <td width="90" ><div class="borderthumb" <?=$dis2?>><table width="90" height="100" border="0" align="center" cellpadding="0" cellspacing="0" <?=$dis2?> >
        <tr>
          <td align="center" valign="middle"><a href="javascript:void(0);" class="linkopacity" onmouseover="document.getElementById('change_img').src='images/bin/<?=$ID_CATEGORY3?>/<?=$NAME_IMG3?>';document.getElementById('change_img').width='<?=$wdt3?>';document.getElementById('change_img').height='<?=$hdt3?>';" ><img class="border_line" src="images/bin/<?=$ID_CATEGORY3?>/<?=$NAME_IMG3?>" width="<?=$wthumb3?>" height="<?=$hthumb3?>" ></a></td>
        </tr>       
      </table></div></td>
      <td width="1">&nbsp;</td>
    </tr>
    <tr>
      <td align="center" height="25" ><img src="images/icon_del.jpg" height="12" style="cursor:pointer" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage('<?=$ID1?>','<?=$NAME_IMG1?>');" title="X&oacute;a &#7843;nh n&agrave;y" ></td>
      <td>&nbsp;</td>
      <td align="center" height="25" <?=$dis1?> ><img src="images/icon_del.jpg" height="12" style="cursor:pointer" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage('<?=$ID2?>','<?=$NAME_IMG2?>');" title="X&oacute;a &#7843;nh n&agrave;y" <?=$dis1?> ></td>
      <td>&nbsp;</td>
      <td align="center" height="25" <?=$dis2?> ><img src="images/icon_del.jpg" height="12" style="cursor:pointer" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage('<?=$ID1?>','<?=$NAME_IMG3?>');" title="X&oacute;a &#7843;nh n&agrave;y" <?=$dis2?> ></td>
      <td>&nbsp;</td>
    </tr>
  </table>
<table width="300" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td  height="3" ></td>
    </tr>      
</table>