<table border="0" width="1000" cellspacing="0" cellpadding="0">
	<tr>
		<td height="10" background="images/line-top.jpg"></td>
	</tr>
</table>
<table border="0" width="1000" cellspacing="0" cellpadding="0" background="images/adm_header.jpg">
	<tr>
		<td width="233" valign="top">
		<table border="0" width="100%" cellspacing="0" cellpadding="0">
			<tr>
				<td height="100">&nbsp;</td>
			</tr>
			<tr>
				<td></td>
			</tr>
		  </table>
		</td>
		<td width="26">&nbsp;</td>
		<td valign="top" width="513">		</td>
		<td valign="top" width="228">
		
		<table border="0" width="100%" id="table1">
			<tr>
				<td colspan="4" height="10"></td>
			</tr>
			<tr>
				<td class="menu" colspan="4">Welcome: <strong class="title_cam"><?=$full_name?></strong></td>
			</tr>
			<tr>
				<td colspan="4" height="10"></td>
			</tr>
			<tr>
				<td width="27">
				<img class="border_rounded" border="1" src="images/profile.jpg" width="20" height="17"></td>
				<td width="90"><a href="#" class="title_xam" onclick="window.open('index.php?act=adm_view_account&idc/<?=$idc?>/act/v','Viewaccountpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=800,height=580');" >T&agrave;i kho&#7843;n </a></td>
				<td width="21">
				<img class="border_rounded" border="1" src="images/logout.jpg" width="17" height="17"></td>
				<td width="72"><a href="?act=adm_logout" class="title_xam">Tho&aacute;t</a></td>
			</tr>
		</table>
		
	  </td>
	</tr>
</table>
<table border="0" width="1000" cellspacing="0" cellpadding="0">
	<tr>
		<td height="20" ></td>
	</tr>
</table>