<div class="row">
	<div class="col-xs-12">
	<h3 class="header smaller lighter green" style="margin-bottom: 60px;font-family: sans-serif; font-size:18px; margin-left:10px;"><?=$lang['welcome_admin_manager']?>!</h3>
	<p></p>
        <a style="padding:80px"href="?act=adm_company"><img src="images/icon-cty.png" alt="cty"></a>
		<a style="padding:80px"href="?act=adm_commonlist"><img src="images/icon-thongtinchung.png" alt="thong tin"></a>
       	<a style="padding:80px"href="?act=adm_commonlist&idtype=2"><img src="images/icon-sp.png" alt="san pham"></a>
       	<hr style="border: none">
      	<a style="padding:80px"href="#"><img src="images/icon-email-mark.png" alt=""></a>
		<a style="padding:80px"href="?act=adm_common"><img src="images/icon-caidat.png" alt=""></a>
		<a style="padding:80px"href="?act=adm_account"><img src="images/icon-taikhoan.png" alt=""></a>		
    </div><!-- end box-item-quanly-->
</div>