<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{$title}</title>
<link rel="stylesheet" type="text/css" href="css/vntt.css" />
</head>
<div align="left">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr bgcolor="#FFF5EA">
    <td width="17" class='menu'>&nbsp;</td>
    <td width="216" class='menu'>Delete Capacity_product </td>
    <td width="800" class='menu'>&nbsp;</td>
  </tr>
 <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="216" class='menu'>&nbsp;</td>
    <td width="800" class='menu'>&nbsp;</td>
  </tr>
  
  <tr>
    <td  class='menu' valign="top" height="95" width="17">&nbsp;</td>
    <td  class='menu' valign="top" height="95" width="216"></td>
    <td class='do' height="95"><b>Thông báo </b>:
      <p><?=$mess?></p>
	<p>
	</td>
  </tr>
  <tr>
    <td  class='menu' valign="top" width="17">&nbsp;</td>
    <td  class='menu' valign="top" width="216">&nbsp;</td>
    <td class='menu'>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" align="center" height="41" class='menu'>    
    <input type="button" name="cancel" value="Đóng" onClick="javascript:window.close();" class="button" style="width:60px;height:22px ">
    </td>
  </tr>
</table>
</div>