<table border="0" width="1000" cellspacing="0" cellpadding="0">
	<tr>
		<td height="1" bgcolor="#FFF5EA"></td>
	</tr>
</table>
<?=$submenu2?>
<table border="0" width="1000" cellspacing="0" cellpadding="0">
	<tr>
		<td height="5" ></td>
	</tr>
</table>
<table border="0" width="1000" cellspacing="0" cellpadding="0" bgcolor="#FFF5EA">
					<tr>
						<td width="10"><img src="images/bg-title.gif"  height="25"></td>
						<td class="menu" align="left"><?=$lang['tl_comname_info']?> </td>
					</tr>
				</table>
<table border="0" width="1000" cellspacing="0" cellpadding="0" >
		<tr>
			<td width="1" rowspan="3" background="images/bin/line-doc.jpg">
			</td>
			<td width="999" height="1" background="images/bin/line-ngang.jpg">
			</td>
			<td width="1" rowspan="3" background="images/bin/line-doc.jpg">
			</td>
		</tr>
		<tr>
			<td width="999">				
<table border="0" width="100%">
	<tr>
		<td>
	<table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu'>&nbsp;</td>
    <td class='menu' colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu' align="left"><?=$lang['tl_comname']?></td>
    <td width="388" class='title_xam' align="left"><?=$comname?></td>
    <td width="425" class='menu' rowspan="19" valign="top" align="left"></td>
  </tr>
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu'>&nbsp;</td>
    <td width="388" class='menu'>&nbsp;	</td>
  </tr>
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu' align="left"><?=$lang['tl_shortname']?> </td>
    <td width="388" class='title_xam' align="left"><?=$shortname?></td>
  </tr>
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu'>&nbsp;</td>
    <td width="388" class='menu'>&nbsp;</td>
  </tr>
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu' align="left">Email    </td>
    <td width="388" class='title_xam' align="left"><?=$email?></td>
  </tr>
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu'>&nbsp;</td>
    <td width="388" class='menu'>&nbsp;</td>
  </tr>
<tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu' align="left"><?=$lang['tl_telcom']?></td>
    <td width="388" class='title_xam' align="left"><?=$tel?></td>
  </tr>
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu'>&nbsp;</td>
    <td width="388" class='menu'>&nbsp;</td>
  </tr>
<tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu' align="left">Fax </td>
    <td width="388" class='title_xam' align="left"><?=$fax?></td>
  </tr>
  <tr>
    <td class='menu'>&nbsp;</td>
    <td class='menu'>&nbsp;</td>
    <td class='menu'>&nbsp;</td>
  </tr>
  <tr>
    <td class='menu'>&nbsp;</td>
    <td class='menu'><?=$lang['tl_mobi']?></td>
    <td class='title_xam'><?=$mobi?></td>
  </tr>
  <tr>
    <td class='menu'>&nbsp;</td>
    <td class='menu'>&nbsp;</td>
    <td class='menu'>&nbsp;</td>
  </tr>
  <tr>
    <td class='menu'>&nbsp;</td>
    <td class='menu'>Skype</td>
    <td class='title_xam'><?=$skype?></td>
  </tr>
  <tr>
    <td class='menu'>&nbsp;</td>
    <td class='menu'>&nbsp;</td>
    <td class='menu'>&nbsp;</td>
  </tr>
  <tr>
    <td class='menu'>&nbsp;</td>
    <td class='menu'>Yahoo</td>
    <td class='title_xam'><?=$yahoo?></td>
  </tr>
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu'>&nbsp;</td>
    <td width="388" class='menu'>&nbsp;</td>
  </tr>
<tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu' align="left">Website</td>
    <td width="388" class='title_xam' align="left"><?=$website?></td>
  </tr>
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu'>&nbsp;</td>
    <td width="388" class='menu'>&nbsp;</td>
  </tr>
<tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu' align="left"><?=$lang['tl_addcom']?> </td>
    <td width="388" class='title_xam' align="left"><?=$address?></td>
  </tr>
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu'>&nbsp;</td>
    <td class='menu' colspan="2">&nbsp;</td>
  </tr>  
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="162" class='menu'>&nbsp;</td>
    <td class='menu' colspan="2"><input type="button" name="editcom" value="<?=$lang['bt_edit_com']?>" class="admbtn" onclick="window.open('index.php?act=adm_companyupdate&idcom=1&ac=e','Editcompopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=800,height=400');" ></td>
  </tr>
    <tr>
    <td  class='menu' valign="top" height="95" width="17">&nbsp;</td>
    <td  class='menu' valign="top" height="95" width="162" align="left">&nbsp;</td>
    <td class='content' height="95" colspan="2" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td  class='menu' valign="top" width="17">&nbsp;</td>
    <td  class='menu' valign="top" width="162">&nbsp;</td>
    <td class='menu' colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td  class='menu' valign="top" width="17">&nbsp;</td>
    <td  class='menu' valign="top" width="162" align="left"></td>
    <td class='menu' colspan="2">&nbsp;</td>
  </tr>
  <tr>
    <td colspan="4" align="center" height="41" class='menu'>&nbsp;    </td>
  </tr>
</table>		</td>
	</tr>
</table>
</td>
		</tr>
		<tr>
			<td width="999" height="1" background="images/bin/line-ngang.jpg">
			</td>
		</tr>
</table>
<table border="0" width="1000" cellspacing="0" cellpadding="0">
	<tr>
		<td height="5" ></td>
	</tr>
</table>