<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><?=$title?></title>
<link rel="stylesheet" type="text/css" href="css/vntt.css" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/webtoolkit.base64.js"></script>
<input type="hidden" name="base_url" id="base_url" value="<?=$base_url?>">
<script type="text/javascript" src="wysiwyg/wysiwyg.js"></script>
</head>
<div align="left">
<form action="?act=adm_editphoto" method="post"  enctype="multipart/form-data" name="f1" onsubmit="return checkform();"> 
<input type="hidden" name="ac" value="e">
<input type="hidden" name="idphoto" value="<?=$idphoto?>">
<table width="100%"  border="0" cellspacing="0" cellpadding="0">
 <tr bgcolor="#FFF5EA">
   <td class='menu'>&nbsp;</td>
   <td colspan="2" class='menu'>&nbsp;</td>
 </tr>
 <tr bgcolor="#FFF5EA">
    <td width="16" class='menu'>&nbsp;</td>
    <td colspan="2" class='menu'>Hiệu chỉnh thông tin </td>
    </tr>
 <tr>
    <td width="16" class='menu'>&nbsp;</td>
    <td width="378" class='menu'>&nbsp;</td>
    <td width="613" class='menu'>&nbsp;</td>
  </tr> 
  <tr>
    <td width="16" class='menu'>&nbsp;</td>
    <td width="378" class='menu'>Tên photo <font size="1" color="#D7261C">*</font></td>
    <td width="613" class='menu'>
	<input type="text" name="photoname" style="width:376px " size="1" value="<?=$photoname?>"></td>
  </tr>
  <tr>
    <td width="16" class='menu'>&nbsp;</td>
    <td width="378" class='menu'>&nbsp;</td>
    <td width="613" class='menu'>&nbsp;	</td>
  </tr>
  
  <tr>
    <td width="16" class='menu'>&nbsp;</td>
    <td width="378" class='menu'>&nbsp;</td>
    <td width="613" class='do'><?=$mess?></td>
  </tr>
  <tr>
    <td width="16" class='menu'>&nbsp;</td>
    <td width="378" class='menu'>Photo upload</td>
    <td width="613" class='menu'>
	<input name="file_ul" type="file" size="25"></td>
  </tr>
  <tr>
    <td width="16" class='menu'>&nbsp;</td>
    <td width="378" class='menu'>&nbsp;</td>
    <td width="613" class='content'>(Ảnh dạng: .png, jpg, gif. Có thể đưa vào ảnh lớn, kích thước sẽ tự động thu nhỏ)</td>
  </tr>  
  <tr>
    <td class='menu'>&nbsp;</td>
    <td class='menu'>&nbsp;</td>
    <td class='do'></td>
  </tr>
  <tr>
    <td class='menu'>&nbsp;</td>
    <td class='menu'>&nbsp;</td>
    <td class='do'><span class="menu"><img src="images/bin/imagenews/<?=$thumbnail?>" width="180" height="180" alt="<?=$photoname?>" /></span></td>
  </tr>
  <tr>
    <td width="16" class='menu'>&nbsp;</td>
    <td width="378" class='menu'>&nbsp;</td>
    <td width="613" class='do'></td>
  </tr>
  <tr <?=$dispr?>>
    <td width="16" class='menu'>&nbsp;</td>
    <td width="378" class='menu'>Trạng thái <font size="1" color="#D7261C">*</font></td>
    <td width="613" class='menu'>
    <SELECT  class=textbox style="WIDTH: 205px;" size=1 name=status>
		<option value="">Chọn trạng thái...</option>
		<option value="Active" <?=$sl1?>>Active</option>
		<option value="Inactive" <?=$sl2?>>Inactive</option>
		<option value="Deleted" <?=$sl3?>>Deleted</option>
    </SELECT></td>
  </tr>
  <tr>
    <td width="16" class='menu'>&nbsp;</td>
    <td width="378" class='menu'>&nbsp;</td>
    <td width="613" class='menu'>&nbsp;										</td>
  </tr>
  
  
  
  <tr>
    <td  class='menu' valign="top" height="95" width="16">&nbsp;</td>
    <td  class='menu' valign="top" height="95" width="378">Nội dung sơ lược<font size="1" color="#D7261C"> *</font></td>
    <td class='menu' height="95">
	<textarea name="short_content" rows="4" cols="52" onKeyUp="getLengthtextarear(this,500);"><?=$short_content?></textarea></td>
  </tr>
   <tr>
    <td  class='menu' valign="top" height="25" width="16">&nbsp;</td>
    <td  class='menu' valign="top" height="25" width="378">&nbsp;</td>
    <td class='menu' height="25">&nbsp;</td>
  </tr>
  <tr>
    <td  class='menu' valign="top" height="95" width="16">&nbsp;</td>
    <td  class='menu' valign="top" height="95" width="378">Nội dung bài viết</td>
    <td class='menu' height="95"><textarea id="contentout" name="content"><?=$content?></textarea>
   <input type="hidden" id="contentencode" name="contentencode" value="">
       <script type="text/javascript">						  
		generate_wysiwyg('contentout', 600, 300);
		document.getElementById('Help').style.display = "none";
	</script>	</td>
  </tr>
  <tr>
    <td  class='menu' valign="top" width="16">&nbsp;</td>
    <td  class='menu' valign="top" width="378">&nbsp;</td>
    <td class='menu'>&nbsp;</td>
  </tr>
  <tr>
    <td  class='menu' valign="top" width="16">&nbsp;</td>
    <td  class='menu' valign="top" width="378">Đăng bởi</td>
    <td class='menu'>
    <SELECT  class=textbox style="WIDTH: 205px;" size=1 name="cst" id="cst" <?=$ronly?>>
		<option value="">Đăng bởi...</option>
		<?=$list_consultant?>    
    </SELECT>    </td>
  </tr>
  <tr>
    <td  class='menu' valign="top" width="16">&nbsp;</td>
    <td  class='menu' valign="top" width="378">&nbsp;</td>
    <td class='menu'>&nbsp;</td>
  </tr>
  <tr>
    <td colspan="3" align="center" height="41" class='menu'>
    <input type="submit" name="submit" value="Lưu" class="button" style="width:80px; height:22px " >
    <input type="button" name="cancel" value="Đóng" onClick="javascript:window.close();" class="button" style="width:60px;height:22px ">    </td>
  </tr>
  </table>
  </form>
</div>
<script language="javascript1.2">
               function checkform(){
                     if (document.f1.photoname.value==""){
                                        alert("Vui lòng nhập tên photo!");
                                        document.f1.photoname.focus();
                                        return false;
                                }
                                                    
                    
                    if (document.f1.status.selectedIndex==""){
                         alert("Vui lòng chọn trạng thái!");
						 document.f1.status.focus();
                         return false;
                    }
                    
                    if (document.f1.short_content.value==""){
                                        alert("Vui lòng nhập mô tả ngắn cho dịch vụ!");
                                        document.f1.short_content.focus();
                                        return false;
                                }
					
					getcontens();

                     return true;
               }
               
	  function getLengthtextarear(item1,num)
			{
				var str=item1.value;
				if (item1.value.length>eval(num))
					{
						alert("Độ dài tối đa là "+num);
						item1.value=str.substring(0,eval(num));
					}
			}
	  function getcontens(){
	  		updateTextArea('contentout');
			document.getElementById("contentencode").value = Base64.encode($("#contentout").val());
		}
		
		  function changecat() {
	$.ajax({
		url: 'index.php',
		type: 'POST',
		data: 'act=adm_change_cat_common&cat='+ $('#idtype').val(),
		success: function(data) {
			//document.getElementById("sametype").style.display = "block";
			$('#sametype').html(data);
			/*
			if($('#idtype').val() != 1){
				for(i=1;i<=8;i++){
						var r = '#r'+i;
						$(r).attr("style","display:none");
					}
			}
			*/
		}
	});
}

function changetype() {
	$.ajax({
		url: 'index.php',
		type: 'POST',
		data: 'act=adm_change_type_common&typecat='+ $('#typecat').val(),
		success: function(data) {
			//alert($('#typecat').val());
			//document.getElementById("samesubcat").style.display = "block";
			var getData = $.parseJSON(data);
			if(getData.mess1 == "no"){
				for(i=1;i<=2;i++){
					var r = '#r'+i;
					$(r).attr("style","display:none");
				}
			}
			else{
				$('#samesubcat').html(getData.mess2);
				for(i=1;i<=2;i++){
					var r = '#r'+i;
					$(r).attr("style","display:table-row");
				}
			}
			
		}
	});
}		   
                              
</script>