<div class="box-ask-epicor-expert">
            	<div class="wrap">
                	<h2 class="title"><?=$text_ask_ost?></h2>
                    <ul class="clearfix">
                    	<li class="phone"><a href="<?=$linkchat_sky?>"><?=$text_phone?></a></li>
                        <li class="email"><a href="<?=$mail?>"><?=$text_mail?></a></li>
                        <li class="chat"><a href="<?=$linkchat_ya?>"><?=$text_chat?></a></li>
                    </ul>
                </div><!-- end wrap -->
                <div class="bg-right"></div>
            </div>