<div class="bar-icon group">
                <a href="mua-hang.html">                                                                                      
                    <img alt="" src="images/i1.png" />
                    <span><?=$lang['tl_cdonhang']?></span>
                </a>
                <a href="thong-tin-nguoi-mua.html">
                    <img alt="" src="images/i2.png" />
                    <span>  <?=$lang['tl_cnguoimua']?></span>
                </a>
                <a href="thong-tin-van-chuyen.html">
                    <img alt="" src="images/i3.png" />
                    <span><?=$lang['tl_cvanchuyen']?></span>
                </a>
                <a href="phuong-thuc-thanh-toan.html">
                    <img alt="" src="images/i4.png" />
                    <span><?=$lang['tl_cptthanhtoan']?></span>
                </a>
                <a href="#">
                    <img alt="" src="images/i5.png" />
                    <span><?=$lang['tl_cguidonhang']?> </span>
                </a>
                <a href="#">
                    <img alt="" src="images/i61.png" />
                    <span><?=$lang['tl_choantat']?></span>
                </a>
            </div>
			<div style="height:3px;"></div>
		 <?=$completeorder_list?>