<div id="apDiv101">
								<div id="apDiv102"><img src="images/THONG-KE.gif" width="141" height="22" /></div>
								<div id="apDiv103">
								 <span class="style48">Online</span><br>
									<span class="style48">H&ocirc;m nay</span>
									<br>
									<span class="style48">To&agrave;n b&#7897;</span>
								</div>
								<div class="style29" id="apDiv104">
								  <div align="right"><span class="style30"><?=$online?></span><br>
									250<br>  
									<span class="style30"><?=$counter?></span></div>
								</div>
						</div>