<h2 class="detailnews"><?=$title_news?></h2>
<!--<h2 class="detailnews"><?=$title_news?></h2> -->
<div class="txtJust fadeInLeft wow">	
	<div class="common-news"><?=$main_contents?></div>
</div>
					
<div style="height:20px;"></div>
<div class="box-social-bottom" >
<span class="fbkk" ><div class="fb-like" data-href="http://onlinemall.vn/<?=$url_like?>" data-send="true" data-layout="button_count" data-width="450" data-show-faces="true"></div></span> 
<span class="gggg"  ><g:plusone size="medium" href="http://onlinemall.vn/<?=$url_like?>"></g:plusone></span>
</div>						

