<tr>
	<td width="349" height="25"><a href="#" class="menu" title="View" onclick="window.open('index.php?act=update_dist&idd=<?=$ID_DIST?>&ac=v','Viewcatpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=800,height=250');" ><?=$NAME?></a></td>
	<td width="190" height="25"><?=$namepr?></td>
	<td width="148" height="25" class="menu"><?=$IORDER?></td>
	<td width="125" height="25" class="menu"></td>
	<td width="27"><a href="#"  title="View" onclick="window.open('index.php?act=update_dist&idd=<?=$ID_DIST?>&ac=v','Viewcatpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=800,height=250');"  ><img src="images/magnifier.png" width="16" alt="View"></a></td>
	<td width="28"><a href="#"  title="Edit" onclick="window.open('index.php?act=update_dist&idd=<?=$ID_DIST?>&ac=e','Editcatpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=800,height=250');"  ><img src="images/icon_edit.png" width="16" alt="Edit"></a></td>
	<td width="113"></td>
</tr>