<div class="col-md-3 col-sm-4">
	<a href="images/bin/imagenews/<?=$PICTURE1?>" class="img-news1 lightbox" rel="showimg_cm"><img src="images/bin/imagenews/<?=$PICTURE1?>"/></a>
	<div class="recap">
		<?=$name1?>
	</div>
</div>
<div class="col-md-3 col-sm-4" <?=$dis1?>>
	<a href="images/bin/imagenews/<?=$PICTURE2?>" class="img-news1 lightbox" rel="showimg_cm"><img src="images/bin/imagenews/<?=$PICTURE2?>"/></a>
	<div class="recap">
		<?=$name2?>
	</div>
</div>
<div class="col-md-3 col-sm-4" <?=$dis2?>>
	<a  href="images/bin/imagenews/<?=$PICTURE3?>" class="img-news1 lightbox" rel="showimg_cm"><img src="images/bin/imagenews/<?=$PICTURE3?>"/></a>
	<div class="recap">
		<?=$name3?>
	</div>
</div>
