<div class="item">
	<div class="product">
		<img src="images/bin/<?=$ID_CATEGORY?>/<?=$IMAGE_LARGE?>" alt="<?=$name?>"/>
		<div class="info-detail">
			<a href="spchitiet-<?=$ID?>-<?=$name_link?>.html" title="<?=$name?>" class="name-product"><?=$name?></a>
			<strong class="price"><?=$PRICE?></strong>
			<div class="box-btn">
				<a href="#"><img src="images/reload.png"/></a>
				<a href="#" class="btn-buy">Thêm vào giỏ hàng</a>
				<a href="#"><img src="images/love.png"/></a>
			</div>
		</div>	
	</div>
</div>	
