<div class="item1h">
                	<div class="image1h">
					<table height="175" width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center"><a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html<?=$menu_select1?>" class="screenshot_ttip" rel="images/bin/<?=$ID_CATEGORY1?>/<?=$IMAGE_LARGE1?>" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY1?>/<?=$IMAGE_LARGE1?>" alt="<?=$name1h1?>" width="<?=$w1h1?>" height="<?=$h1h1?>" ></a></td>
					  </tr>
					</table>
					</div>
                    <div class="info-sp1h">
                    	<h4><a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html<?=$menu_select1?>" ><?=$name1?></a></h4>                                               
                    </div>
                </div>
<div class="item1h" >
                	<div class="image1h">
					<table height="175" width="330" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="left"><div class="content-short1h">
								<?=nl2br($INFO_SHORT1)?>
							</div></td>
					  </tr>
					</table>
					</div>
                    <div class="info-sp1h-text">                                    	
                          <input type="button" value="<?=$lang['tl_chitiet']?>" class="chitiet1h" onclick="window.location.href='spchitiet-<?=$ID1?>-<?=$name_link1?>.html<?=$menu_select1?>'" />
                    </div>
                </div>								
				<div class="clearboth"></div>								