<li>
	<div class="box-product box-home">
		<div class="icon-news">New</div>
		<a href="spchitiet-<?=$ID?>-<?=$name_link?>.html" class="img-box">
			<div class="img-sp-home">
				<img src="images/bin/<?=$ID_CATEGORY?>/<?=$IMAGE_LARGE?>"/>
			</div>
		</a>
		<a href="spchitiet-<?=$ID?>-<?=$name_link?>.html" class="name-product"><?=$name?></a>
		<div class="price">Giá: <span class="txtOrange"><?=$PRICE?></span></div>
		<div class="mgt10 txtCenter"><a href="#" onclick="savecart(<?=$ID?>,0);" class="buy-now">Mua ngay</a></div>
	</div>
</li>