<div class="col-md-4 col-sm-4 news-home">
	<div class="item-news">
		<div class="img-news-home">
			<a href="chitiet-<?=$ID1?>-<?=$name_link1?>.html"><img src="images/bin/imagenews/<?=$PICTURE1?>"/></a>
		</div>
		<a href="chitiet-<?=$ID1?>-<?=$name_link1?>.html" class="name-news"><?=$name1?></a>
		<div class="recap-news">
			<?=$SCONTENTSHORT1?>
		</div>
		<div class="text-right">
			<a href="chitiet-<?=$ID1?>-<?=$name_link1?>.html" class="btn-more">Xem thêm</a>
		</div>
	</div>
</div>
<div class="col-md-4 col-sm-4 news-home" <?=$dis1?>>
	<div class="item-news">
		<div class="img-news-home">
			<a href="chitiet-<?=$ID2?>-<?=$name_link2?>.html"><img src="images/bin/imagenews/<?=$PICTURE2?>"/></a>
		</div>
		<a href="chitiet-<?=$ID2?>-<?=$name_link2?>.html" class="name-news"><?=$name2?></a>
		<div class="recap-news">
			<?=$SCONTENTSHORT2?>
		</div>
		<div class="text-right">
			<a href="chitiet-<?=$ID2?>-<?=$name_link2?>.html" class="btn-more">Xem thêm</a>
		</div>
	</div>
</div>
<div class="col-md-4 col-sm-4 news-home" <?=$dis2?>>
	<div class="item-news">
		<div class="img-news-home">
			<a href="chitiet-<?=$ID3?>-<?=$name_link3?>.html"><img src="images/bin/imagenews/<?=$PICTURE3?>"/></a>
		</div>
		<a href="chitiet-<?=$ID3?>-<?=$name_link3?>.html" class="name-news"><?=$name3?></a>
		<div class="recap-news">
			<?=$SCONTENTSHORT3?>
		</div>
		<div class="text-right">
			<a href="chitiet-<?=$ID3?>-<?=$name_link3?>.html" class="btn-more">Xem thêm</a>
		</div>
	</div>
</div>
