<table width="765" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="103" rowspan="2" valign="top"><a href="chitiet-<?=$ID?>-<?=$name_link?>.html" class="linkopacity" title="<?=$name?>"><?php if($PICTURE != ""){ ?><img class="border_rounded" src="images/bin/imagenews/<?=$PICTURE?>" alt="<?=$name?>" width="<?=$wth?>" height="<?=$hth?>"><?php } else{ ?><img class="border_rounded" src="images/bin/imagenews/noimages.jpg" alt="<?=$name?>" width="100" height="100"><?php } ?></a></td>
    <td width="10" rowspan="2">&nbsp;</td>
    <td width="602" align="left" valign="top" height="25"><a href="chitiet-<?=$ID?>-<?=$name_link?>.html" class="title_xtc" title="<?=$name?>"><?=$name?></a></td>
  </tr>
  <tr>
    <td valign="top"  height="75" align="left" class="contentz"><?=nl2br($SCONTENTSHORT)?></td>
  </tr>
</table>
<table width="765" border="0" cellspacing="0" cellpadding="0">
   <tr>
    <td align="center" ><span class="dotline"></span></td>
  </tr>
   <tr>
    <td height="10"></td>
  </tr>
</table>

