            <div class="bophan-kythuat">
            	<h3>T&#432; v&#7845;n: <span><?=$phone2?></span></h3>
                
                <h3 class="yahoo-bophan-kythuat">
                	<a href="<?=$linkchat_ya2?>"><img src="images/<?=$iconchat_ya?>" height="25" width="125" /></a>
                </h3>
                
                <h3>
                	<a href="<?=$linkchat_sky2?>"><img src="images/<?=$iconchat_sky?>" style="border: none;" width="72" height="32" alt="My status" /></a>
                </h3>
            </div><!-- end bophan-kythuat -->