<div class="item<?=$itemlast?>">
	<div class="cont-item">
		<div class="sub-wrap">
			<a href="sanpham-<?=$ID?>-<?=$name_link?>.html" class="linkopacity" title="<?=$name?>"><img src="images/bin/<?=$ID_CATEGORY?>/<?=$IMAGE_LARGE?>" alt="<?=$name?>" width="<?=$w?>" height="<?=$h?>" /></a>
			<h3><a href="sanpham-<?=$ID?>-<?=$name_link?>.html" style="letter-spacing:-0.5px;"><?=$name?></a></h3>
			<p><?=$shortcontent?></p>
		</div><!-- end sub-wrap -->
	</div><!-- end cont-item -->
</div><!-- end item -->