<div class="b-top">
                	<div class="b-bottom">
                    	<div class="b-center">
                        	<div class="sub-content">
                                <p class="company-name"><?=$comname?></p>
                                
                                <ul class="list-info-conact">
                                	<li class="phone">: <?=$tel?> </li>
                                    <li class="fax">: <?=$fax?> </li>
                                    <li class="email">
                                    	: <a href="mailto:<?=$email?>"><?=$email?></a><br /> 
									: <a href="mailto:nhanln@gmail.com">nhanln@gmail.com</a>                                    </li>
                                    <li class="address">
                                    	: <?=$address?>                                    </li>
                                    <li class="hotline"><span>Hot line : <?=$hotline?></span></li>
                                </ul>
                                <!-- end list-info-conact -->

								<div class="support-online">
                                    <p class="icon">
                                    	<a href="skype:nhannl?call" class="skype"><img src="images/icon-skype.png" style="border: none;" width="72" height="32" class="yahoo" /></a>
                                        <a href="ymsgr:sendim?nhanln"><img src="http://opi.yahoo.com/online?u=nhanln&m=g&t=2" height="25" width="125" class="yahoo" /></a                                         
                                    </p>                                   
                                </div>
								
								<div class="support-online">                                   
                                    <p class="image-code"><a href="http://www.alfalaval.com/" target="_blank" title="Alfa Laval"><img border="0" src="images/<?=$lang['tl_logo_alfalaval']?>" alt="Alfalaval" /></a></p>
                                </div>
                                
                            </div><!-- end sub-content -->
                        </div><!-- end b-center -->
                    </div><!-- end b-bottom -->
                </div>