<div class="item">
                	<div class="image">
					<table height="175" width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center"><a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html<?=$menu_select1?>" class="screenshot_ttip" rel="images/bin/<?=$ID_CATEGORY1?>/<?=$IMAGE_LARGE1?>" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY1?>/<?=$IMAGE_LARGE1?>" alt="<?=$name1?>" width="<?=$w1?>" height="<?=$h1?>" ></a></td>
					  </tr>
					</table>
					</div>
                    <div class="info-sp">
                    	<h4><a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html<?=$menu_select1?>" ><?=$name1?></a></h4>                                               
                    </div>
                </div>
<div class="item" >
                	<div class="image">
					<table height="175" width="165" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="left"><div class="content-short">
								<?=nl2br($INFO_SHORT1)?>
							</div></td>
					  </tr>
					</table>
					</div>
                    <div class="info-sp">                                    	
                          <input type="button" value="" class="chitiet" onclick="window.location.href='spchitiet-<?=$ID1?>-<?=$name_link1?>.html<?=$menu_select1?>'" />             
                    </div>
                </div>
				<div class="item" <?=$dis1?> >
                	<div class="image">
					<table height="175" width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center"><a href="spchitiet-<?=$ID3?>-<?=$name_link3?>.html<?=$menu_select3?>" class="screenshot_ttip" rel="images/bin/<?=$ID_CATEGORY3?>/<?=$IMAGE_LARGE3?>" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY3?>/<?=$IMAGE_LARGE3?>" alt="<?=$name3?>" width="<?=$w3?>" height="<?=$h3?>" ></a></td>
					  </tr>
					</table>
					</div>
                    <div class="info-sp">
                    	<h4><a href="spchitiet-<?=$ID3?>-<?=$name_link3?>.html<?=$menu_select3?>" class="style17"><?=$name3?></a></h4>                        
                    </div>
                </div>
<div class="item item-last" <?=$dis3?> >
                	<div class="image">
					<table height="175" width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center"><a href="spchitiet-<?=$ID4?>-<?=$name_link4?>.html<?=$menu_select4?>" class="screenshot_ttip" rel="images/bin/<?=$ID_CATEGORY4?>/<?=$IMAGE_LARGE4?>" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY4?>/<?=$IMAGE_LARGE4?>" alt="<?=$name4?>" width="<?=$w4?>" height="<?=$h4?>" ></a></td>
					  </tr>
					</table>
					</div>
                    <div class="info-sp">
                    	<h4><a href="spchitiet-<?=$ID4?>-<?=$name_link4?>.html<?=$menu_select4?>" class="style17"><?=$name4?></a></h4>                        
                    </div>
                </div>				
				<div class="clearboth"></div>								