<li>
                                    <div class="box-news-item-first">
                                        <a href="chitiet-<?=$idn1?>-<?=$linkname1?>.html">
                                            <img alt="" src="images/bin/imagenews/<?=$PICTURE1?>" />
                                        </a>
                                        <a href="chitiet-<?=$idn1?>-<?=$linkname1?>.html" ><?=$titlename1?></a>
                                    </div>
                                    <div  >
                                        <a href="chitiet-<?=$idn2?>-<?=$linkname2?>.html">
                                            <img alt="" src="images/bin/imagenews/<?=$PICTURE2?>" />
                                        </a>
                                        <a href="chitiet-<?=$idn2?>-<?=$linkname2?>.html" ><?=$titlename2?></a>
                                    </div>
									<div>
                                        <a href="chitiet-<?=$idn3?>-<?=$linkname3?>.html">
                                            <img alt="" src="images/bin/imagenews/<?=$PICTURE3?>" />
                                        </a>
                                        <a href="chitiet-<?=$idn3?>-<?=$linkname3?>.html" ><?=$titlename3?></a>
                                    </div>
                                    <div  >
                                        <a href="chitiet-<?=$idn3?>-<?=$linkname4?>.html">
                                            <img alt="" src="images/bin/imagenews/<?=$PICTURE4?>" />
                                        </a>
                                        <a href="chitiet-<?=$idn4?>-<?=$linkname4?>.html" ><?=$titlename4?></a>
                                    </div>
                                </li>