<tr>
	<td width="1071" height="26" align="left" valign="top" class="title_xam"><?=$name?></td>
</tr>
    <tr>
      <td valign="top" class="content" align="left" height="10" ></td>
    </tr>
    <tr>
      <td valign="top" class="content" align="left"><a href="images/bin/imagenews/<?=$BIG_IMG?>" class="lightbox" title="<?=$SCONTENTSHORT?>" ><?php if($PICTURE != ""){ ?><img class="border_rounded" src="images/bin/imagenews/<?=$PICTURE?>" alt="<?=$name?>" ><?php } else{ ?><img class="border_rounded" src="images/bin/imagenews/noimages.jpg" alt="<?=$name?>" width="100" height="100"><?php } ?></a></td>
    </tr>
    <tr>
      <td valign="top" class="content" align="left" height="10"></td>
    </tr>
  <tr>
	<td valign="top" class="content" align="left"><?=nl2br($SCONTENTSHORT)?></td>
</tr>
<tr>
	<td height="10" align="right" ></td>
</tr>
<tr>
	<td height="1" class="style50">
	<span class="style49"> .............................................................................................................................................................................................................................................</span>	</td>
</tr>
<tr>
	<td height="10" ></td>
</tr>