<tr>
	  <td  ><table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="246"><table width="187"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="26" height="351" rowspan="3"><img src="images/SANPHAM-DOGO_01.jpg" width="25" height="351"></td>
            <td><img src="images/SANPHAM-DOGO_02.jpg" width="197" height="32"></td>
            <td rowspan="3"><img src="images/SANPHAM-DOGO_03.jpg" width="24" height="351"></td>
          </tr>
          <tr>
            <td width="197" height="198" valign="middle" align="center"><a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html<?=$menu_select1?>" class="linkopacity" title="<?=$name1?>"><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY1?>/<?=$IMAGE_LARGE1?>" alt="<?=$name1?>" width="189" height="190"></a></td>
          </tr>
          <tr>
            <td width="197" height="121" background="images/SANPHAM-DOGO_05.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center"><a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html<?=$menu_select1?>" class="style1"><?=$name1?></a></td>
              </tr>
              <tr>
                <td class="style1" align="center"><strong><?=$PRICE1?></strong></td>
              </tr>
              <tr>
                <td class="style1" align="center"><strong><span class="style28"><?=$PRICE_SALE1?></span></strong></td>
              </tr>
              <tr>
                <td align="center" class="savecart"><img src="images/BUTTON-DAT-HANG.jpg" alt="77" width="113" height="29" style="cursor:pointer" onclick="savecart(<?=$ID1?>,1);"> <img src="images/add_cart.jpg" alt="add cart" title="Th&ecirc;m v&agrave;o gi&#7887; h&agrave;ng" width="34" height="33" style="cursor:pointer" onclick="savecart(<?=$ID1?>,0);"><div id="<?=$ID1?>"></div></td>
              </tr>
              <tr>
                <td  height="1"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
          <td width="13">&nbsp;</td>
          <td width="246"><table width="187"  border="0" cellspacing="0" cellpadding="0" <?=$dis1?>>
          <tr>
            <td width="26" height="351" rowspan="3"><img src="images/SANPHAM-DOGO_01.jpg" width="25" height="351"></td>
            <td><img src="images/SANPHAM-DOGO_02.jpg" width="197" height="32" /></td>
            <td rowspan="3"><img src="images/SANPHAM-DOGO_03.jpg" width="24" height="351"></td>
          </tr>
          <tr>
            <td width="197" height="198" valign="middle" align="center"><a href="spchitiet-<?=$ID2?>-<?=$name_link2?>.html<?=$menu_select2?>" class="linkopacity" title="<?=$name2?>" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY2?>/<?=$IMAGE_LARGE2?>" alt="<?=$name2?>" width="189" height="190" <?=$dis1?> > </a></td>
          </tr>
          <tr>
            <td width="197" height="121" background="images/SANPHAM-DOGO_05.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center"><?php if($dis1 == "") {?><a href="spchitiet-<?=$ID2?>-<?=$name_link2?>.html<?=$menu_select2?>" class="style1" ><?=$name2?></a><?php } ?></td>
              </tr>
              <tr>
                <td class="style1" align="center"><strong><?=$PRICE2?></strong></td>
              </tr>
              <tr>
                <td class="style1" align="center"><strong><span class="style28"><?=$PRICE_SALE2?></span></strong></td>
              </tr>
              <tr>
                <td align="center" class="savecart"><img src="images/BUTTON-DAT-HANG.jpg" alt="77" width="113" height="29" style="cursor:pointer" onclick="savecart(<?=$ID2?>,1);"> <img src="images/add_cart.jpg" alt="add cart" title="Th&ecirc;m v&agrave;o gi&#7887; h&agrave;ng" width="34" height="33" style="cursor:pointer" onclick="savecart(<?=$ID2?>,0);"><div id="<?=$ID2?>"></div></td>
              </tr>
              <tr>
                <td height="1"></td>
              </tr>
            </table></td>
          </tr> 
        </table></td>
          <td width="13">&nbsp;</td>
          <td width="246"><table width="187"  border="0" cellspacing="0" cellpadding="0" <?=$dis2?>>
          <tr>
            <td width="26" height="351" rowspan="3"><img src="images/SANPHAM-DOGO_01.jpg" width="25" height="351"></td>
            <td><img src="images/SANPHAM-DOGO_02.jpg" width="197" height="32"></td>
            <td rowspan="3"><img src="images/SANPHAM-DOGO_03.jpg" width="24" height="351"></td>
          </tr>
          <tr>
            <td width="197" height="198" valign="middle" align="center"><a href="spchitiet-<?=$ID3?>-<?=$name_link3?>.html<?=$menu_select3?>" class="linkopacity" title="<?=$name3?>" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY3?>/<?=$IMAGE_LARGE3?>" alt="<?=$name3?>" width="189" height="190" <?=$dis2?> ></a></td>
          </tr>
          <tr>
            <td width="197" height="121" background="images/SANPHAM-DOGO_05.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center"><?php if($dis2 == "") {?><a href="spchitiet-<?=$ID3?>-<?=$name_link3?>.html<?=$menu_select3?>" class="style1" ><?=$name3?></a><?php } ?></td>
              </tr>
              <tr>
                <td class="style1" align="center"><strong><?=$PRICE3?></strong></td>
              </tr>
              <tr>
                <td class="style1" align="center"><strong><span class="style28"><?=$PRICE_SALE3?></span></strong></td>
              </tr>
              <tr>
                <td align="center" class="savecart"><img src="images/BUTTON-DAT-HANG.jpg" alt="77" width="113" height="29" style="cursor:pointer" onclick="savecart(<?=$ID3?>,1);"> <img src="images/add_cart.jpg" alt="add cart" title="Th&ecirc;m v&agrave;o gi&#7887; h&agrave;ng" width="34" height="33" style="cursor:pointer" onclick="savecart(<?=$ID3?>,0);"><div id="<?=$ID3?>"></div></td>
              </tr>
              <tr>
                <td height="1"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
          <td width="13">&nbsp;</td>
          <td width="246"><table width="187"  border="0" cellspacing="0" cellpadding="0" <?=$dis3?> >
          <tr>
            <td width="26" height="351" rowspan="3"><img src="images/SANPHAM-DOGO_01.jpg" width="25" height="351"></td>
            <td><img src="images/SANPHAM-DOGO_02.jpg" width="197" height="32"></td>
            <td rowspan="3"><img src="images/SANPHAM-DOGO_03.jpg" width="24" height="351"></td>
          </tr>
          <tr>
            <td width="197" height="198" valign="middle" align="center"><a href="spchitiet-<?=$ID4?>-<?=$name_link4?>.html<?=$menu_select4?>" class="linkopacity" title="<?=$name4?>" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY4?>/<?=$IMAGE_LARGE4?>" alt="<?=$name4?>" width="189" height="190" <?=$dis3?> ></a></td>
          </tr>
          <tr>
            <td width="197" height="121" background="images/SANPHAM-DOGO_05.jpg"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td align="center"><?php if($dis3 == "") {?><a href="spchitiet-<?=$ID4?>-<?=$name_link4?>.html<?=$menu_select4?>" class="style1" ><?=$name4?></a><?php } ?></td>
              </tr>
              <tr>
                <td class="style1" align="center"><strong><?=$PRICE4?></strong></td>
              </tr>
              <tr>
                <td class="style1" align="center"><strong><span class="style28"><?=$PRICE_SALE4?></span></strong></td>
              </tr>
              <tr>
                <td align="center" class="savecart"><img src="images/BUTTON-DAT-HANG.jpg" alt="77" width="113" height="29" style="cursor:pointer" onclick="savecart(<?=$ID4?>,1);"> <img src="images/add_cart.jpg" alt="add cart" title="Th&ecirc;m v&agrave;o gi&#7887; h&agrave;ng" width="34" height="33" style="cursor:pointer" onclick="savecart(<?=$ID4?>,0);"><div id="<?=$ID4?>"></div></td>
              </tr>
              <tr>
                <td height="1"></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
        </tr>
        <tr>
          <td colspan="7">&nbsp;</td>
        </tr>
      </table></td>
</tr>