<div class="news-item">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center" width="243" height="158" ><div class="imgbd" ><a href="chitiet-<?=$ID1?>-<?=$name_link1?>.html" class="linkopacity" ><img class="border_rounded" border="0" src="images/bin/imagenews/<?=$PICTURE1?>" alt="<?=$name1?>" width="<?=$w1?>" height="<?=$h1?>" ></a></div></td>
						<td valign="top" align="left"><h3><a href="chitiet-<?=$ID1?>-<?=$name_link1?>.html"><?=$name1?></a></h3>
                        <p><?=nl2br($SCONTENTSHORT1)?></p></td>
					  </tr>
					</table>				
            </div>

<div class="news-item" <?=$dis1?> >
                       <table width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center" width="243" height="158" ><div class="imgbd" > <a href="chitiet-<?=$ID2?>-<?=$name_link2?>.html" class="linkopacity" ><img class="border_rounded" border="0" src="images/bin/imagenews/<?=$PICTURE2?>" alt="<?=$name2?>" width="<?=$w2?>" height="<?=$h2?>" ></a></div> </td>
						<td valign="top" align="left"> <h3><a href="chitiet-<?=$ID2?>-<?=$name_link2?>.html"><?=$name2?></a></h3>
                        <p><?=nl2br($SCONTENTSHORT2)?></p></td>
					  </tr>
					</table>  					                    
                    </div>	
					<div class="clearboth"></div>				