<div class="item">
                	<div class="divhd"></div>
					<div class="image">
					<table height="175" width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center"><a href="images/bin/<?=$ID_CATEGORY1?>/<?=$IMAGE_BIG1?>" class="lightbox" rel="showimg_cm" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY1?>/<?=$IMAGE_LARGE1?>" alt="<?=$name1?>" width="<?=$w1?>" height="<?=$h1?>" ></a></td>
					  </tr>
					</table>
					</div>
					<p><a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html" ><?=$name1?></a></p>                    
                </div>
<div class="item" <?=$dis1?> >
                	<div class="divhd"></div>
					<div class="image">
					<table height="175" width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center"><a href="images/bin/<?=$ID_CATEGORY2?>/<?=$IMAGE_BIG2?>" class="lightbox" rel="showimg_cm" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY2?>/<?=$IMAGE_LARGE2?>" alt="<?=$name2?>" width="<?=$w2?>" height="<?=$h2?>"  ></a></td>
					  </tr>
					</table>
					</div>
					<p><a href="spchitiet-<?=$ID2?>-<?=$name_link2?>.html" class="style17"><?=$name2?></a></p>                     
                </div>
				<div class="item item-last" <?=$dis2?> >
                	<div class="divhd"></div>
					<div class="image">
					<table height="175" width="100%" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center"><a href="images/bin/<?=$ID_CATEGORY3?>/<?=$IMAGE_BIG3?>" class="lightbox" rel="showimg_cm"  ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY3?>/<?=$IMAGE_LARGE3?>" alt="<?=$name3?>" width="<?=$w3?>" height="<?=$h3?>" ></a></td>
					  </tr>
					</table>
					</div>
					<p><a href="spchitiet-<?=$ID3?>-<?=$name_link3?>.html" class="style17"><?=$name3?></a></p>                    
                </div>				
				<div class="clearboth"></div>								