<div class="container" style="margin-top:100px;">
        <div class="row">
            <div class="col-md-12" style="border: 1px solid #ddd;">
                <h2>nha đam</h2>
                <a href="#"><img src="images/banner.jpg"></a>
                <h3 style="color:red;">Mô tả:</h3>
                - GC food đã phát triển vùng trồng nguyên liệu chính trên 30 Hecta tại tỉnh Ninh Thuận. Cây nha đam được trồng ở đây theo phương pháp Vietgap cho sản phẩm hoàn toàn tự ...
                <br>
                - Để đáp ứng nhu cầu cung cấp nguyên liệu nha đam cho các khách hàng hiện tại, Công ty Thực phẩm GC đã phát triển vùng trồng nguyên liệu chính trên 30 Hecta tại tỉnh Ninh Thuận. Cây nha đam được trồng ở đây theo phương pháp Vietgap cho sản phẩm hoàn toàn tự nhiên, tốt cho sức khỏe người tiêu dùng.
                <br>
                - Qui trình chăm sóc cây nha đam, lên lịch trình thu hoạch (cắt lá nha đam) được thực hiện theo kế hoạch được lập để đảm bảo lá nha đam phát triển đủ tuổi nhằm đạt được hàm lượng dinh dưỡng tốt nhất.
                <br>
                - Với vùng nguyên liệu này, hiện nay Công ty Thực phẩm GC đang cung ứng trên 1.000 tấn lá/1 tháng cho hoạt động sản xuất tại nhà máy và phân phối lá nha đam nguyên liệu cho khách hàng có nhu cầu.

            </div>
        </div>
        <hr>
        <div class="row" style="margin-bottom: 50px;">
            <div class="col-md-6">
                <div class="col-md-6">
                    <a href="#">
                        <img src="images/banner2.jpg" />
                    </a>
                </div>
                <div class="col-md-6">
                    hieukun
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-6">
                    <a href="#">
                        <img src="images/banner2.jpg" />
                    </a>
                </div>
                <div class="col-md-6">
                    hieukun
                </div>
            </div>

        </div>
        <div>
        </div>
    </div>