<tr>
	<td width="86"><a href="images/bin/<?=$thumuc?>/<?=$name1?>" class="lightbox" rel="showimg_cm" title="<?=$name1?>" ><img class="border_rounded" src="images/bin/<?=$thumuc?>/<?=$name1?>" alt="<?=$name1?>" width="75" height="75"></a></td>
	<td width="4"></td>
	<td width="86"><a href="images/bin/<?=$thumuc?>/<?=$name2?>" class="lightbox" rel="showimg_cm" title="<?=$name2?>" target="_blank"><img class="border_rounded" src="images/bin/<?=$thumuc?>/<?=$name2?>" alt="<?=$name2?>" width="75" height="75" <?=$dis1?>></a></td>
	<td width="4"></td>
	<td width="86" ><a href="images/bin/<?=$thumuc?>/<?=$name3?>" class="lightbox" rel="showimg_cm" title="<?=$name3?>" target="_blank"><img class="border_rounded" src="images/bin/<?=$thumuc?>/<?=$name3?>" alt="<?=$name3?>" width="75" height="75" <?=$dis2?>></a></td>
	<td width="4"></td>
	<td width="86"><a href="images/bin/<?=$thumuc?>/<?=$name4?>" class="lightbox" rel="showimg_cm" title="<?=$name4?>" target="_blank"><img class="border_rounded" src="images/bin/<?=$thumuc?>/<?=$name4?>" alt="<?=$name4?>" width="75" height="75" <?=$dis3?>></a></td>
	<td width="4"></td>
	<td width="86"><a href="images/bin/<?=$thumuc?>/<?=$name5?>" class="lightbox" rel="showimg_cm" title="<?=$name5?>" target="_blank"><img class="border_rounded" src="images/bin/<?=$thumuc?>/<?=$name5?>" alt="<?=$name5?>" width="75" height="75" <?=$dis4?>></a></td>
	<td width="4"></td>
	<td width="86"><a href="images/bin/<?=$thumuc?>/<?=$name6?>" class="lightbox" rel="showimg_cm" title="<?=$name6?>" target="_blank"><img class="border_rounded" src="images/bin/<?=$thumuc?>/<?=$name6?>" alt="<?=$name6?>" width="75" height="75" <?=$dis5?>></a></td>
	<td width="4"></td>
	<td width="86"><a href="images/bin/<?=$thumuc?>/<?=$name7?>" class="lightbox" rel="showimg_cm" title="<?=$name7?>" target="_blank"><img class="border_rounded" src="images/bin/<?=$thumuc?>/<?=$name7?>" alt="<?=$name7?>" width="75" height="75" <?=$dis6?>></a></td>
	<td width="4"></td>
	<td width="86"><a href="images/bin/<?=$thumuc?>/<?=$name8?>" class="lightbox" rel="showimg_cm" title="<?=$name8?>" target="_blank"><img class="border_rounded" src="images/bin/<?=$thumuc?>/<?=$name8?>" alt="<?=$name8?>" width="75" height="75" <?=$dis7?>></a></td>
</tr>
<tr>
	<td width="86" height="25" valign="bottom">	<div class="blocimg"><div class="gricon">	<span ><input type="checkbox" name="ck" value="<?=$name1?>" ></span>  <span ><img src="images/icon_del.png"  style="cursor:pointer; width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage('','<?=$name1?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y" ></span></div></div></td>
	<td width="4"></td>
	<td width="86" height="25" valign="bottom"> <div class="blocimg"><div class="gricon">	<span ><input type="checkbox" name="ck" value="<?=$name2?>" <?=$dis1?> > </span> <span ><img src="images/icon_del.png"  style="cursor:pointer; width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage('','<?=$name2?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y" <?=$dis1?>  ></span></div></div></td>
	<td width="4"></td>
	<td width="86" height="25" valign="bottom"><div class="blocimg"><div class="gricon">	<span > <input type="checkbox" name="ck" value="<?=$name3?>" <?=$dis2?> > </span> <span > <img <?=$dis2?> src="images/icon_del.png"  style="cursor:pointer; width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage('','<?=$name3?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y" ></span></div></div></td>
	<td width="4"></td>
	<td width="86" height="25" valign="bottom"><div class="blocimg"><div class="gricon">	<span >  <input type="checkbox" name="ck" value="<?=$name4?>" <?=$dis3?>> </span> <span > <img <?=$dis3?> src="images/icon_del.png"  style="cursor:pointer; width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage('','<?=$name4?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y" ></span></div></div></td>
	<td width="4"></td>
	<td width="86" height="25" valign="bottom"><div class="blocimg"><div class="gricon">	<span > <input type="checkbox" name="ck" value="<?=$name5?>" <?=$dis4?>></span> <span >  <img <?=$dis4?> src="images/icon_del.png"  style="cursor:pointer; width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage('','<?=$name5?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y" ></span></div></div></td>
	<td width="4"></td>
	<td width="86" height="25" valign="bottom"> <div class="blocimg"><div class="gricon">	<span ><input type="checkbox" name="ck" value="<?=$name6?>" <?=$dis5?>> </span> <span > <img <?=$dis5?> src="images/icon_del.png"  style="cursor:pointer; width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage('','<?=$name6?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y" ></span></div></div></td>
	<td width="4"></td>
	<td width="86" height="25" valign="bottom"><div class="blocimg"><div class="gricon">	<span > <input type="checkbox" name="ck" value="<?=$name7?>" <?=$dis6?>> </span> <span > <img <?=$dis6?> src="images/icon_del.png"  style="cursor:pointer; width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage('','<?=$name7?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y" ></span></div></div></td>
	<td width="4"></td>
	<td width="86" height="25" valign="bottom"><div class="blocimg"><div class="gricon">	<span > <input type="checkbox" name="ck" value="<?=$name8?>" <?=$dis7?>> </span> <span > <img <?=$dis7?> src="images/icon_del.png"  style="cursor:pointer; width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage('','<?=$name8?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y"></span></div></div></td>
</tr>
<tr >
	<td width="86" height="10"></td>
	<td width="4"></td>
	<td width="86"></td>
	<td width="4"></td>
	<td width="86"></td>
	<td width="4"></td>
	<td width="86"></td>
	<td width="4"></td>
	<td width="86"></td>
	<td width="4"></td>
	<td width="86"></td>
	<td width="4"></td>
	<td width="86"></td>
	<td width="4"></td>
	<td width="86"></td>
</tr>