<div class="product col-md-3 col-sm-4">
	<a href="chitiet-<?=$ID1?>-<?=$name_link1?>.html" class="img-newss"><img src="images/bin/imagenews/<?=$PICTURE1?>"/></a>
	<div class="recap">
		<a href="chitiet-<?=$ID1?>-<?=$name_link1?>.html" class="img-news"><?=$name1?></a>
	</div>
</div>
<div class="product col-md-3 col-sm-4" <?=$dis1?>>
	<a href="chitiet-<?=$ID2?>-<?=$name_link2?>.html" class="img-newss"><img src="images/bin/imagenews/<?=$PICTURE2?>"/></a>
	<div class="recap">
		<a href="chitiet-<?=$ID2?>-<?=$name_link2?>.html" class="img-news"><?=$name2?></a>
	</div>
</div>
<div class="product col-md-3 col-sm-4" <?=$dis2?>>
	<a href="chitiet-<?=$ID3?>-<?=$name_link3?>.html" class="img-newss"><img src="images/bin/imagenews/<?=$PICTURE3?>"/></a>
	<div class="recap">
		<a href="chitiet-<?=$ID3?>-<?=$name_link3?>.html" class="img-news"><?=$name3?></a>
	</div>
</div>
<div class="product col-md-3 col-sm-4" <?=$dis3?>>
	<a href="chitiet-<?=$ID4?>-<?=$name_link4?>.html" class="img-newss"><img src="images/bin/imagenews/<?=$PICTURE4?>"/></a>
	<div class="recap">
		<a href="chitiet-<?=$ID4?>-<?=$name_link4?>.html" class="img-news"><?=$name4?></a>
	</div>
</div>
<div class="col-md-12" style="margin-bottom:10px;border-bottom: 1.5px solid #BBBBBB;"></div>

