<li>
	<div class="box-product">
		<a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html" class="img-box">
			<div class="img-sp-old-home">
				<img src="images/bin/<?=$ID_CATEGORY1?>/<?=$IMAGE_LARGE1?>"/>
			</div>
		</a>
		<div class="info-product">
			<div class="price txtLeft"><span class="txtOrange f18 upper"><?=$PRICE1?></span></div>
			<a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html" class="name-product txtLeft f12"><?=$name1?></a>
			<div class="box-extra">
				<a href="#" onclick="savecart(<?=$ID1?>,0);" class="buy-now-icon">Mua ngay</a>
				<span class="view-icon"><?=$COUNTVIEW1?></span>
			</div>
		</div>
	</div>
</li>
<li <?=$dis1?>>
	<div class="box-product">
		<a href="spchitiet-<?=$ID2?>-<?=$name_link2?>.html" class="img-box">
			<div class="img-sp-old-home">
				<img src="images/bin/<?=$ID_CATEGORY2?>/<?=$IMAGE_LARGE2?>"/>
			</div>
		</a>
		<div class="info-product">
			<div class="price txtLeft"><span class="txtOrange f18 upper"><?=$PRICE2?></span></div>
			<a href="spchitiet-<?=$ID2?>-<?=$name_link2?>.html" class="name-product txtLeft f12"><?=$name2?></a>
			<div class="box-extra">
				<a href="#" onclick="savecart(<?=$ID2?>,0);" class="buy-now-icon">Mua ngay</a>
				<span class="view-icon"><?=$COUNTVIEW2?></span>
			</div>
		</div>
	</div>
</li>
<li <?=$dis2?>>
	<div class="box-product">
		<a href="spchitiet-<?=$ID3?>-<?=$name_link3?>.html" class="img-box">
			<div class="img-sp-old-home">
				<img src="images/bin/<?=$ID_CATEGORY3?>/<?=$IMAGE_LARGE3?>"/>
			</div>
		</a>
		<div class="info-product">
			<div class="price txtLeft"><span class="txtOrange f18 upper"><?=$PRICE3?></span></div>
			<a href="spchitiet-<?=$ID3?>-<?=$name_link3?>.html" class="name-product txtLeft f12"><?=$name3?></a>
			<div class="box-extra">
				<a href="#" onclick="savecart(<?=$ID3?>,0);" class="buy-now-icon">Mua ngay</a>
				<span class="view-icon"><?=$COUNTVIEW3?></span>
			</div>
		</div>
	</div>
</li>
<li <?=$dis3?>>
	<div class="box-product">
		<a href="spchitiet-<?=$ID4?>-<?=$name_link4?>.html" class="img-box">
			<div class="img-sp-old-home">
				<img src="images/bin/<?=$ID_CATEGORY4?>/<?=$IMAGE_LARGE4?>"/>
			</div>
		</a>
		<div class="info-product">
			<div class="price txtLeft"><span class="txtOrange f18 upper"><?=$PRICE4?></span></div>
			<a href="spchitiet-<?=$ID4?>-<?=$name_link4?>.html" class="name-product txtLeft f12"><?=$name4?></a>
			<div class="box-extra">
				<a href="#" onclick="savecart(<?=$ID4?>,0);" class="buy-now-icon">Mua ngay</a>
				<span class="view-icon"><?=$COUNTVIEW4?></span>
			</div>
		</div>
	</div>
</li>
<li <?=$dis4?>>
	<div class="box-product" >
		<a href="spchitiet-<?=$ID5?>-<?=$name_link5?>.html" class="img-box">
			<div class="img-sp-old-home">
				<img src="images/bin/<?=$ID_CATEGORY5?>/<?=$IMAGE_LARGE5?>"/>
			</div>
		</a>
		<div class="info-product">
			<div class="price txtLeft"><span class="txtOrange f18 upper"><?=$PRICE5?></span></div>
			<a href="spchitiet-<?=$ID5?>-<?=$name_link1?>.html" class="name-product txtLeft f12"><?=$name5?></a>
			<div class="box-extra">
				<a href="#" onclick="savecart(<?=$ID5?>,0);" class="buy-now-icon">Mua ngay</a>
				<span class="view-icon"><?=$COUNTVIEW5?></span>
			</div>
		</div>
	</div>
</li>
