<li class="group">
		<a href="chitiet-<?=$idn1?>-<?=$linkname1?>.html">
				<img alt="" src="images/bin/imagenews/<?=$PICTURE1?>" />
			</a>
		<a href="chitiet-<?=$idn1?>-<?=$linkname1?>.html" ><?=$titlename1?></a>                                    
</li>
<li class="group">
		<a href="chitiet-<?=$idn2?>-<?=$linkname2?>.html">
				<img alt="" src="images/bin/imagenews/<?=$PICTURE2?>" />
			</a>
		<a href="chitiet-<?=$idn2?>-<?=$linkname2?>.html" ><?=$titlename2?></a>                                   
</li>


