<div class="list-partner clearfix">
    	<ul class="clearfix">
        	<li><a href="#"><img src="images/partner-01.jpg" alt="" /></a></li>
            <li><a href="#"><img src="images/partner-02.jpg" alt="" /></a></li>
            <li><a href="#"><img src="images/partner-03.jpg" alt="" /></a></li>
            <li><a href="#"><img src="images/partner-04.jpg" alt="" /></a></li>
            <li><a href="#"><img src="images/partner-05.jpg" alt="" /></a></li>
            <li><a href="#"><img src="images/partner-06.jpg" alt="" /></a></li>
            <li><a href="#"><img src="images/partner-07.jpg" alt="" /></a></li>
        </ul>
    </div><!-- end list-partner -->