<li>
                           <table height="295" width="230" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center"><a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html" class="linkopacity" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY1?>/<?=$IMAGE_LARGE1?>" alt="<?=$name1?>" width="<?=$w1?>" height="<?=$h1?>" ></a></td>
					  </tr>
					</table>
                            <p><?=$name1?></p>
							<?php if($PRICE_SALE1 ==""){ ?>
							<h6><?=$PRICE1?> </h6> 
							<?php } elseif($PRICE_SALE1 !=""){ ?>
							<h6><?=$PRICE1?> <em><?=$PRICE_SALE1?></em></h6>							
							<?php } ?>														
                            <a href="#" class="buynow" onclick="savecart(<?=$ID1?>,1);">
                                Mua ngay
                            </a>
                        </li>

<li <?=$dis1?> >
                           <table height="295" width="230" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center"><a href="spchitiet-<?=$ID2?>-<?=$name_link2?>.html" class="linkopacity" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY2?>/<?=$IMAGE_LARGE2?>" alt="<?=$name2?>" width="<?=$w2?>" height="<?=$h2?>" ></a></td>
					  </tr>
					</table>
                            <p><?=$name2?></p>
							<?php if($PRICE_SALE2 ==""){ ?>
							<h6><?=$PRICE2?></h6> 
							<?php } elseif($PRICE_SALE2 !=""){ ?>
							<h6><?=$PRICE2?><em><?=$PRICE_SALE2?></em></h6>							
							<?php } ?>														
                            <a href="#" class="buynow" onclick="savecart(<?=$ID2?>,1);">
                                Mua ngay
                            </a>
                        </li>

<li <?=$dis2?> >
                           <table height="295" width="230" border="0" cellspacing="0" cellpadding="0">
					  <tr>
						<td valign="middle" align="center"><a href="spchitiet-<?=$ID3?>-<?=$name_link3?>.html" class="linkopacity" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY3?>/<?=$IMAGE_LARGE3?>" alt="<?=$name3?>" width="<?=$w3?>" height="<?=$h3?>" ></a></td>
					  </tr>
					</table>
                            <p><?=$name3?></p>
							<?php if($PRICE_SALE3 ==""){ ?>
							<h6><?=$PRICE3?></h6> 
							<?php } elseif($PRICE_SALE3 !=""){ ?>
							<h6><?=$PRICE3?><em><?=$PRICE_SALE3?></em></h6>							
							<?php } ?>														
                            <a href="#" class="buynow" onclick="savecart(<?=$ID3?>,1);">
                                Mua ngay
                            </a>
                        </li>

						<div class="clearboth"></div>