<div class="item fadeInLeft wow">
	<div class="searchimg">
			<a href="chitiet-<?=$ID?>-<?=$name_link?>.html"><?php if($PICTURE != "") { ?><img src="images/bin/imagenews/<?=$PICTURE?>"/><?php } else { ?> <img src="images/bin/imagenews/noimages.jpg"/><?php } ?></a>
	</div>
	<div class="textsearch">
		<a href="chitiet-<?=$ID?>-<?=$name_link?>.html" class="name-pro"><?=$name?></a>
		<div class="content-news">
			<?=$contentshort?>
		</div>
		<!--
		<div class="txtRight box-link">
			<a href="chitiet-<?=$ID?>-<?=$name_link?>.html" class="link-detail">Chi tiết</a>
		</div>
		-->
	</div>
</div>
<div style="clear:both;display:block; height:20px;"></div>
