<div class="col-md-9 col-sm-8 col-xs-12 products pull-right">
	<div class="text-center box-title bounceInDown wow">
		<h2 class="title-big title-medium">SẢN PHẨM bán chạy</h2>
	</div>
	<div class="row">
		<div class="col-sm-6 col-md-4 col-xs-6">
			<div class="box-image">
				<a href="#"><img src="images/img1.jpg"></a>
			</div>
			<div class="desc-pro">
				<a href="#" class="name-sp">Lô Sấy Máy Photocopy</a>
				<div class="desc-pro-info">
					Chống dính lô sấy máy photocopy sử dụng công nghệ tạo lớp phủ chuyển tiếp bề mặt nano-TERLON là loại công nghệ tiên tiến nhất, được nhóm chuyên gia thuộc Phòng Công nghệ Trung tâm Phát triển công nghệ cao nghiên cứu ứng dụng vào các công đoạn phủ chống dính lô sấy máy photocopy, có khả năng chống ăn mòn và độ phủ bám dính cao. 
				</div>
				<div class="text-right">
					<a href="#" class="btn-detail">Xem thêm</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-xs-6">
			<div class="box-image">
				<a href="#"><img src="images/img2.jpg"></a>
			</div>
			<div class="desc-pro">
				<a href="#" class="name-sp">Chống Dính Cây Thanh Nhiệt</a>
				<div class="desc-pro-info">
					Chống dính lô sấy máy photocopy sử dụng công nghệ tạo lớp phủ chuyển tiếp bề mặt nano-TERLON là loại công nghệ tiên tiến nhất, được nhóm chuyên gia thuộc Phòng Công nghệ Trung tâm Phát triển công nghệ cao nghiên cứu ứng dụng vào các công đoạn phủ chống dính lô sấy máy photocopy, có khả năng chống ăn mòn và độ phủ bám dính cao. 
				</div>
				<div class="text-right">
					<a href="#" class="btn-detail">Xem thêm</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-xs-6">
			<div class="box-image">
				<a href="#"><img src="images/hinh8.jpg"></a>
			</div>
			<div class="desc-pro">
				<a href="#" class="name-sp">Chống Dính Khay - Vỉ Nướng</a>
				<div class="desc-pro-info">
					Chống dính lô sấy máy photocopy sử dụng công nghệ tạo lớp phủ chuyển tiếp bề mặt nano-TERLON là loại công nghệ tiên tiến nhất, được nhóm chuyên gia thuộc Phòng Công nghệ Trung tâm Phát triển công nghệ cao nghiên cứu ứng dụng vào các công đoạn phủ chống dính lô sấy máy photocopy, có khả năng chống ăn mòn và độ phủ bám dính cao. 
				</div>
				<div class="text-right">
					<a href="#" class="btn-detail">Xem thêm</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-xs-6">
			<div class="box-image">
				<a href="#"><img src="images/hinh7.jpg"></a>
			</div>
			<div class="desc-pro">
				<a href="#" class="name-sp">Chống Dính Dao Cắt</a>
				<div class="desc-pro-info">
					Chống dính lô sấy máy photocopy sử dụng công nghệ tạo lớp phủ chuyển tiếp bề mặt nano-TERLON là loại công nghệ tiên tiến nhất, được nhóm chuyên gia thuộc Phòng Công nghệ Trung tâm Phát triển công nghệ cao nghiên cứu ứng dụng vào các công đoạn phủ chống dính lô sấy máy photocopy, có khả năng chống ăn mòn và độ phủ bám dính cao. 
				</div>
				<div class="text-right">
					<a href="#" class="btn-detail">Xem thêm</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-xs-6">
			<div class="box-image">
				<a href="#"><img src="images/hinh5.jpg"></a>
			</div>
			<div class="desc-pro">
				<a href="#" class="name-sp">Lô Sấy Máy Photocopy</a>
				<div class="desc-pro-info">
					Chống dính lô sấy máy photocopy sử dụng công nghệ tạo lớp phủ chuyển tiếp bề mặt nano-TERLON là loại công nghệ tiên tiến nhất, được nhóm chuyên gia thuộc Phòng Công nghệ Trung tâm Phát triển công nghệ cao nghiên cứu ứng dụng vào các công đoạn phủ chống dính lô sấy máy photocopy, có khả năng chống ăn mòn và độ phủ bám dính cao. 
				</div>
				<div class="text-right">
					<a href="#" class="btn-detail">Xem thêm</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-xs-6">
			<div class="box-image">
				<a href="#"><img src="images/hinh3.jpg"></a>
			</div>
			<div class="desc-pro">
				<a href="#" class="name-sp">Lô Sấy Máy Photocopy</a>
				<div class="desc-pro-info">
					Chống dính lô sấy máy photocopy sử dụng công nghệ tạo lớp phủ chuyển tiếp bề mặt nano-TERLON là loại công nghệ tiên tiến nhất, được nhóm chuyên gia thuộc Phòng Công nghệ Trung tâm Phát triển công nghệ cao nghiên cứu ứng dụng vào các công đoạn phủ chống dính lô sấy máy photocopy, có khả năng chống ăn mòn và độ phủ bám dính cao. 
				</div>
				<div class="text-right">
					<a href="#" class="btn-detail">Xem thêm</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-xs-6">
			<div class="box-image">
				<a href="#"><img src="images/img4.jpg"></a>
			</div>
			<div class="desc-pro">
				<a href="#" class="name-sp">Chống Dính Dao Cắt</a>
				<div class="desc-pro-info">
					Chống dính lô sấy máy photocopy sử dụng công nghệ tạo lớp phủ chuyển tiếp bề mặt nano-TERLON là loại công nghệ tiên tiến nhất, được nhóm chuyên gia thuộc Phòng Công nghệ Trung tâm Phát triển công nghệ cao nghiên cứu ứng dụng vào các công đoạn phủ chống dính lô sấy máy photocopy, có khả năng chống ăn mòn và độ phủ bám dính cao. 
				</div>
				<div class="text-right">
					<a href="#" class="btn-detail">Xem thêm</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-xs-6">
			<div class="box-image">
				<a href="#"><img src="images/hinh2.jpg"></a>
			</div>
			<div class="desc-pro">
				<a href="#" class="name-sp">Lô Sấy Máy Photocopy</a>
				<div class="desc-pro-info">
					Chống dính lô sấy máy photocopy sử dụng công nghệ tạo lớp phủ chuyển tiếp bề mặt nano-TERLON là loại công nghệ tiên tiến nhất, được nhóm chuyên gia thuộc Phòng Công nghệ Trung tâm Phát triển công nghệ cao nghiên cứu ứng dụng vào các công đoạn phủ chống dính lô sấy máy photocopy, có khả năng chống ăn mòn và độ phủ bám dính cao. 
				</div>
				<div class="text-right">
					<a href="#" class="btn-detail">Xem thêm</a>
				</div>
			</div>
		</div>
		<div class="col-sm-6 col-md-4 col-xs-6">
			<div class="box-image">
				<a href="#"><img src="images/hinh1.jpg"></a>
			</div>
			<div class="desc-pro">
				<a href="#" class="name-sp">Lô Sấy Máy Photocopy</a>
				<div class="desc-pro-info">
					Chống dính lô sấy máy photocopy sử dụng công nghệ tạo lớp phủ chuyển tiếp bề mặt nano-TERLON là loại công nghệ tiên tiến nhất, được nhóm chuyên gia thuộc Phòng Công nghệ Trung tâm Phát triển công nghệ cao nghiên cứu ứng dụng vào các công đoạn phủ chống dính lô sấy máy photocopy, có khả năng chống ăn mòn và độ phủ bám dính cao. 
				</div>
				<div class="text-right">
					<a href="#" class="btn-detail">Xem thêm</a>
				</div>
			</div>
		</div>
	</div>
</div>