<div class="footer">
        <div class="wrap">
            <a href="http://redribbon.vn/" class="logo-footer">
                <img alt="RED RIBBON JSC" src="mobi/imgs/logo1.png" />
            </a>
            <div class="accodion">
			<div class="accodion-caption accodion-caption-first">
                    <strong><?=$lang['tl_dmuc']?></strong>
                    <span></span>
                </div>
                <div class="accodion-content">
                    <ul>

                    <li>

                        <a href="/"> <?=$lang['tl_home']?></a>
                    </li>
                    <li><a href="info-1-Gioi-thieu.html?idcat=1"><?=$lang['tl_aboutus']?></a></li>
                    <li>
                        <a href="sanpham.html"><?=$lang['tl_prod']?></a>

                    </li>
                    <li>
                        <a href="info-2-dai-ly.html"><?=$lang['tl_daily']?></a>

                    </li>
                    <li><a href="info-3-tro-giup.html?idcat=10"><?=$lang['tl_trogiup']?> </a></li>
                    <li><a href="info-6-chung-chi.html"><?=$lang['tl_chungchi']?></a></li>
                </ul>
                </div>
                <div class="accodion-caption">
                    <strong>  HỖ TRỢ THANH TOÁN</strong>
                    <span></span>
                </div>
                <div class="accodion-content">
                    <div class="pay-slider group">
                        <ul>
                            <li>
                                <a href="#">
                                    <img alt="" src="mobi/imgs/p1.png" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img alt="" src="mobi/imgs/p2.png" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img alt="" src="mobi/imgs/p3.png" />
                                </a>
                            </li>                            
                            <li>
                                <a href="#">
                                    <img alt="" src="mobi/imgs/p5.png" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img alt="" src="mobi/imgs/p6.png" />
                                </a>
                            </li>                            
                        </ul>
                    </div>
                </div>
                <div class="accodion-caption">
                    <strong><?=$lang['tl_connec']?></strong>
                    <span></span>
                </div>
                <div class="accodion-content">
                    <div class="social-icon">
                            <a href="https://www.facebook.com/therapyshower.vn" class="face" target="_blank">
                            </a>
                            <a href="#" class="google">
                            </a>
                            <a href="#" class="in">
                            </a>
                        </div>
						 <div class="clearfix"></div>
                </div>
				 <div class="accodion-caption">
                    <strong><?=$lang['tl_xempban']?></strong>
                    <span></span>
                </div>
                <div class="accodion-content">
                    <ul>
						<li><a href="index.php?vs=1"><?=$lang['tl_xemdesktop']?> </a></li>
						<li><a href="index.php?vs=2"><?=$lang['tl_xemdidong']?></a></li>						
					</ul>
						 <div class="clearfix"></div>
                </div>
                <div class="accodion-caption accodion-caption-fix">
                    <strong> <?=$lang['tl_thongtincongty']?></strong>
                    <span></span>
                </div>
                <div class="accodion-content">
                    <?=$cty?>
                </div>
            </div>
        </div>
    </div>
    <!--end footer-->
    <div class="allright"><p><?=$lang['copyright']?></p></div>