<div class="footer">
        <div class="wrap">
            <div class="footer-col1">
                <a href="http://redribbon.vn/" class="logo1">
                    <img alt="RED RIBBON JSC" src="mobi/imgs/logo1.png" />
                </a>
            </div>
            <div class="acc">
			<div class="acc-caption">
                    <span><?=$lang['tl_dmuc']?></span>
                    <em></em>
                </div>
				<div class="acc-content">
                    <div class="footer-col2">
					<ul>
						<li>
							<a href="http://redribbon.vn/"><?=$lang['tl_home1']?> </a>
						</li>
						<li><a href="info-1-Gioi-thieu.html?idcat=1"><?=$lang['tl_aboutus']?></a></li>
						<li>
							<a href="sanpham.html" ><?=$lang['tl_prod']?></a>                        
						</li>
						<li>
							<a href="info-2-dich-vu.html"> <?=$lang['tl_service']?></a>                        
						</li>
						<li><a href="info-6-golf-corner.html"><?=$lang['tl_golfcorner']?></a></li>
						<li><a href="info-3-tin-tuc.html"><?=$lang['tl_news']?> </a></li>
						<li><a href="lienhe.html"><?=$lang['tl_contact']?></a></li>
					</ul>
                    </div>
                </div>				                				                
				<div class="acc-caption">
					<span><?=$lang['tl_connec']?></span>
                    <em></em>
                </div>
                <div class="acc-content">
                    <div class="footer-col3">
                        <div class="social-icon">
                            <a href="https://www.facebook.com/redribbon.vn" class="face">
                            </a>
                            <a href="#" class="google">
                            </a>
                            <a href="#" class="youtube">
                            </a>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
				<div class="acc-caption">
                    <span><?=$lang['tl_xempban']?></span>
                    <em></em>
                </div>
				<div class="acc-content">
                    <div class="footer-col2">
					<ul>
						<li><a href="index.php?vs=1"><?=$lang['tl_xemdesktop']?> </a></li>
						<li><a href="index.php?vs=2"><?=$lang['tl_xemdidong']?></a></li>						
					</ul>
                    </div>
                </div>
                <div class="acc-caption acc-caption-fix">
                    <span><?=$lang['tl_thongtincongty']?></span>
                    <em></em>
                </div>
                <div class="acc-content">
                    <div class="footer-col2">
                        <?=$cty?>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="allright"><p><?=$lang['copyright']?></p></div>
    </div>