<div class="product-col">
                    <div class="product-item">  
					<div class="imbd">                    
					  <a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html" ><img  border="0" src="images/bin/<?=$ID_CATEGORY1?>/<?=$IMAGE_LARGE1?>" alt="<?=$name1?>" width="<?=$w1?>" height="<?=$h1?>" ></a>
					  </div>					
					<h3><a href="spchitiet-<?=$ID1?>-<?=$name_link1?>.html"><?=$name1?></a></h3>                                              
                    </div>					
                </div>

<div class="product-col" <?=$dis1?> >
                    <div class="product-item">	
					<div class="imbd"> 				
                       <a href="spchitiet-<?=$ID2?>-<?=$name_link2?>.html" ><img  border="0" src="images/bin/<?=$ID_CATEGORY2?>/<?=$IMAGE_LARGE2?>" alt="<?=$name2?>" width="<?=$w2?>" height="<?=$h2?>" ></a>	
					   </div>				
                        <h3><a href="spchitiet-<?=$ID2?>-<?=$name_link2?>.html"><?=$name2?></a></h3>                        
                    </div>
                </div>

<div class="product-col" <?=$dis2?> >
                    <div class="product-item">	
					<div class="imbd"> 				
                        <a href="spchitiet-<?=$ID3?>-<?=$name_link3?>.html" ><img  border="0" src="images/bin/<?=$ID_CATEGORY3?>/<?=$IMAGE_LARGE3?>" alt="<?=$name3?>" width="<?=$w3?>" height="<?=$h3?>" ></a>	
						</div>				
                        <h3><a href="spchitiet-<?=$ID3?>-<?=$name_link3?>.html"><?=$name3?></a></h3>                        
                    </div>
                </div>
				<div class="clearboth"></div>