<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
    <td height="25"><a href="chitiet-<?=$ID?>-<?=$name_link?>.html" title="<?=$name?>" class="title_n" ><?=$name?></a></td>
  </tr>
   <tr>
    <td align="center" ><?php if($PICTURE != ""){ ?><a href="chitiet-<?=$ID?>-<?=$name_link?>.html" class="linkopacity" title="<?=$name?>"><img class="fiximg" src="images/bin/imagenews/<?=$PICTURE?>" alt="<?=$name?>" width="<?=$wth?>" height="<?=$hth?>"></a><?php }?></td>
  </tr>
   <tr>
    <td height="10"></td>
  </tr>
   <tr>
    <td class="contentz" ><?=nl2br($SCONTENTSHORT)?> <a href="chitiet-<?=$ID?>-<?=$name_link?>.html" class="title_xtc" title="<?=$name?>"><?=$lang['tl_readmore']?></a></td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   <tr>
    <td align="center" ><span class="dotline"></span></td>
  </tr>
   <tr>
    <td height="10"></td>
  </tr>
</table>

