<div class="news-item">
                <a href="chitiet-<?=$ID1?>-<?=$name_link1?>.html"><img  src="images/bin/imagenews/<?=$PICTURE1?>" alt="<?=$name1?>"  ></a>
				<div class="clearfix"></div>
				<h3><a href="chitiet-<?=$ID1?>-<?=$name_link1?>.html"><?=$name1?></a></h3>
                        <p><?=nl2br($SCONTENTSHORT1)?></p>				
            </div>

<div class="news-item" <?=$dis1?> >
                      <a href="chitiet-<?=$ID2?>-<?=$name_link2?>.html"  ><img src="images/bin/imagenews/<?=$PICTURE2?>" alt="<?=$name2?>"  ></a>
					  <div class="clearfix"></div>
					  <h3><a href="chitiet-<?=$ID2?>-<?=$name_link2?>.html"><?=$name2?></a></h3>
                        <p><?=nl2br($SCONTENTSHORT2)?></p>  					                    
                    </div>	
					<div class="clearfix"></div>				