<?=$intro?> 
<div class="line">
            <span><?=$lang['tl_spmoi']?></span>
        </div>
<div class="product">
            <div class="product-row">
			<?=$list_1?>  			              
            </div>
			
        </div>
		<div class="line">
            <span><?=$lang['tl_spxemnhieu']?></span>
        </div>
		<div class="small-product">
		<?=$list_2?> 
		<div class="clearfix"></div>          
        </div>
		<div class="line">
            <span><?=$lang['tl_tinmoih']?></span>
        </div>
		<div class="news">
		<?=$list_3?>            
        </div>
		<div class="clearfix"></div>		