<div class="sitemap group">
            <a href="/"><?=$lang['tl_tchu']?></a>            
            </a> <span>></span> <a href="thong-tin-tai-khoan.html"><?=$lang['tl_atkhoan']?></a><span>></span><a href="donhang-6-quan-ly-don-hang.html"><?=$lang['tl_aqldhang']?></a>
        </div>
<div class="box">
<h3 class="box-caption">
		<?=$lang['tl_aqldhang']?>
	</h3>
</div>
<form name="f1" method="post" >
<input type="hidden" name="vlid" value="">
<table border="0" width="100%">
	<tr>
		<td>
		<table border="0" width="100%" >
			<tr>
			  <td height="14" class="title_xam" >&nbsp;&nbsp;&nbsp;<input name="allbox" type="checkbox" onclick="checkall(this.form);" title="Ch&#7885;n t&#7845;t c&#7843;"> <button class="admbutton" type="button" name="ct1" value="" onClick="SubmitLink(document.forms.f1,'index.php?act=delete_order&ac=d&page=<?=$page?>','<?=$lang['tl_ayeucauchon']?>', '<?=$lang['tl_axacnhanxoa']?>',document.forms.f1.ck, document.forms.f1.vlid);" ><?=$lang['tl_axoadonhang']?></button> </td>
			</tr>
			<tr>
			  <td height="10"  ><span class="linecham"></span></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td>		
		<?=$paymentlist_rs?>
		</td>
	</tr>
	<tr>
		<td height="10"></td>
	</tr>
	<tr>
		<td height="25" align="center"><table width="50%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><div id="divPaging"><?=$paging?></div></td>
        </tr>
      </table></td>
	</tr>
</table>
</form>