<?=$intro?> 
		<div class="middle">
            <?=$clip?>
            <div class="col group">
                <div class="colleft">
                    <div class="caption">
                        <span>Sản phẩm tiêu biểu</span>
                    </div>

                    <div class="product-outer group">
					<?=$list_1?>
                    </div>
                </div><!--end colleft-->
                <div class="colright">
                    <div class="caption">
                        <a href="info-3-tin-tuc.html"><span><?=$lang['tl_tinmoih']?></span></a>
                    </div>
					<?=$gethomenews?>
        			<?=$gethot_news?>                    
                </div><!--end colright-->
            </div>
        </div>