<div class="header">
        <div class="wrap">
            <div class="header-top group">
                <a href="http://dnfc.vn/">
                    <img alt="DNFC" src="mobi/img/home.png" />

                </a>
                <em class="li"></em>
                <p>
                    <?=$info_login?>					                   
                </p>
                <em class="li"></em>
                <div class="hotline">
                    <?=$hotline?>
                </div>
            </div>
            <div class="banner group">

                <a href="http://dnfc.vn/" class="logo">
                    <img alt="Phân bón Đại Nam" src="mobi/img/logo.png" />
                </a>
                <div class="language">
                    <a href="index.php?act=home&lang=2"><img alt="EN" src="mobi/img/en.png" /> </a>
                    <a href="index.php?act=home&lang=1"><img alt="VN" src="mobi/img/vn.png" /> </a>
                </div>
            </div>
            <div class="bar group">
                <div class="menu">

                    <h3> </h3>
                    <ul>
                        <li><a href="http://dnfc.vn/" ><?=$lang['tl_tchu']?></a></li>
						<li><a href="info-1-Gioi-thieu.html?idcat=1"> <?=$lang['tl_vechungtoi']?></a></li>
						<li><a href="sanpham.html" ><?=$lang['f_products']?></a></li> 
						<li><a href="info-3-tin-tuc.html"><?=$lang['tl_news_thuong']?></a></li>
						<li><a href="info-3-tin-tuc.html?idcat=19"><?=$lang['tl_ktnnong']?></a></li>
						<li><a href="info-3-tin-tuc.html?idcat=11"><?=$lang['f_recruitment']?></a></li>
						<li><a href="lienhe.html"><?=$lang['tl_lienhednfc']?></a></li>
                    </ul>
                </div>   <!--end menu-->
                <div class="search">
                  <form action="tim-kiem-san-pham.html" method="get"  enctype="multipart/form-data" name="fsearch">
				    <input type="submit" value="" />
                	<input type="text" id="keyword"  name="keyword" value="<?=$lang['tl_keyword']?>" onFocus="if(this.value=='<?=$lang['tl_keyword']?>'){this.value='';}" onblur="if(this.value==''){this.value='<?=$lang['tl_keyword']?>';}" />
                  </form>
				</div>
                <a href="thong-tin-gio-hang.html" class="cart">
                    <span> <img alt="cart" src="mobi/img/cart.png" />  &nbsp;(<span id="inviewcart">
					<?=$countcart?>
				</span>) </span>
                </a>
            </div>
            <div class="steps group">                
            </div>

        </div>
    </div>