<form name="f1" action="hoan-tat-dat-hang.html"  method="post"  enctype="multipart/form-data" onsubmit="return check_submit_trans();" >
<div class="captions group">
             <ul>                                                                                        
                 <li class="icon icon15"><a href="gui-don-hang.html"> <span></span><?=$lang['tl_cguidonhang']?> </a></li>
             </ul>
         </div>
		 <?=$sendorder_list?>
		  <div class="cart-buttons group">
                <a href="phuong-thuc-thanh-toan.html" class="ql" ><?=$lang['tl_cquaylai']?></a> <input class="btsubmit" type="submit" name="submit" value="<?=$lang['tl_ctieptuc']?>"  />                
         </div>
		 
</form>