<script type="text/javascript" src="js/webtoolkit.base64.js"></script>
<?=$preview_order?>
<table width="100%" border="0" cellspacing="3" cellpadding="3" >
   
  <tr>
    <td height="1" colspan="3" align="left" > <span class="dotline"></span></td>
  </tr>
  <tr>
    <td width="2%" align="left">&nbsp;</td>
    <td colspan="2" align="left" ><p><?=$lang['tl_lh1']?></p>
      <p><?=$lang['tl_lsodthoai']?>: <?=$hotline?></p>
    <p><?=$lang['tl_lcamon']?></p></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td width="3%" height="10" align="left"></td>
    <td width="95%" height="10" align="left"><span id="mess_er3" class="do"></span></td>
  </tr>  
</table>			
