<table width="100%" border="0" cellpadding="3" cellspacing="0"  >
  <tr >
    <td width="2%" height="10" align="left"></td>
    <td width="98%" height="10" colspan="2" align="left"  > </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="3" class="ptext">
  <tr >
    <td height="32" colspan="2" align="left" ><table width="100%" border="0" cellpadding="3" cellspacing="0"  background="images/bg_viewcart2.gif">
  <tr >
    <td width="2%" height="10" align="left">&nbsp;</td>
    <td width="98%" height="32" colspan="2" align="left" class="title_xam" ><?=$lang['tl_bnguoimua']?> </td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
    <td align="left">&nbsp;</td>
  </tr>
  <tr>
    <td width="2%" align="left"></td>
    <td width="98%" align="left"><?=$lang['tl_bhoten']?>: <?=$fullname?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left"></td>
    <td align="left">
	<?=$lang['tl_dthoai']?>: <?=$tel?>	</td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left"></td>
    <td align="left"><?=$lang['tl_bemail']?>: <?=$email?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left" ></td>
    <td align="left" ><?=$lang['tl_btinhthanh']?>: <?=$province_name?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left"></td>
    <td align="left"><?=$lang['tl_bquanhuyen']?>: <?=$dist_name?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left"></td>
    <td align="left"><?=$lang['tl_bdiachidu']?>: <?=$address?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left" valign="top"></td>
    <td align="left" valign="top"><?=$lang['tl_bghichu']?>: <?=nl2br($content)?></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
    <td align="left" valign="top">&nbsp;</td>
  </tr>  	
</table>
