<h3 class="box-caption">
		<?=$lang['tl_attintkhoan']?>
	</h3>
<table width="100%" border="0" cellspacing="3" cellpadding="3" >
  <?php if($owner==1){ ?>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left" height="20"></td>
    <td align="left" height="20"><?=$lang['tl_uname']?>: <?=$user_member?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left" height="20">&nbsp;</td>
    <td align="left" height="20"><?=$lang['tl_lgemail']?>: <?=$email?></td>
  </tr>
  <tr>
    <td align="left" height="20"> </td>
    <td align="left" height="20"></td>
  </tr>
  <tr>
    <td align="left" height="20">&nbsp;</td>
    <td align="left" height="20"><?=$lang['tl_pw']?>: *********</td>
  </tr>
  <tr>
    <td align="left" height="20"></td>
    <td align="left" height="20"></td>
  </tr>
  <tr>
    <td height="20" colspan="2" align="left">
	<span class="dotline"></span></td>
    </tr>
	<?php } ?>
  <tr>
    <td align="left" height="20">&nbsp;</td>
    <td align="left" height="20"><?=$lang['tl_fname']?>: <?=$fullname?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left" height="20"></td>
    <td align="left" height="20"><?=$lang['tl_gd']?>: <?=$gender_name?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
    <td align="left"><?=$lang['tl_phon']?>: <?=$tel?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>

  <tr>
    <td align="left" height="20"></td>
    <td align="left" height="20"><?=$lang['tl_prv']?>: <?=$provinces_name?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
    <td align="left"><?=$lang['tl_ctry']?>: <?=$country_name?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>
  <tr>
    <td align="left">&nbsp;</td>
    <td align="left"><?=$lang['tl_adr']?>: <?=$address?></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td align="left" height="10"></td>
  </tr>  
</table>
