<section class="box-all mgt10">
	<div class="container">
		<div class="row">
			<div class="col-md-8 content-left">
				<div class="slideBannerTop fadeInUp wow">
					<?=$listnews_tieubieu?>
					<script>
						$('#slidebannertop').owlCarousel({
							loop:true, margin:10, responsiveClass:true, autoplay:true, responsive:{
								0:{
									items:1, nav:true
								},
								400:{
									items:1, nav:true
								},
								600:{
									items:1, nav:true
								},
								1000:{
									items:1, nav:true, loop:true
								}
							}
						});
					</script>
				</div>
				
				<div class="slideBannerTop fadeInUp wow mgt10">
					<?=$list_qc_banner?><!-- Quảng cáo banner top -->
					<script>
						$('#slidebannersecond').owlCarousel({
							loop:true, autoplay:true, margin:10, responsiveClass:true, responsive:{
								0:{
									items:1, nav:true
								},
								400:{
									items:1, nav:true
								},
								600:{
									items:1, nav:true
								},
								1000:{
									items:1, nav:true, loop:true
								}
							}
						});
					</script>
				</div>
				
				
			</div>
			<div class="col-md-4 content-right">
				<div class="slideads fadeInUp wow">
					<?=$list_qc_top_right1?>
				</div>
				<script>
					$('#slideadsleft').owlCarousel({
						loop:true, margin:10, autoplay:true, responsiveClass:true, responsive:{
							0:{
								items:1, nav:true
							},
							400:{
								items:1, nav:true
							},
							600:{
								items:1, nav:true
							},
							1000:{
								items:1, nav:true, loop:true
							}
						}
					});
				</script>
				<div class="slideads fadeInUp wow">
					<?=$list_qc_top_right2?>
				</div>
				<script>
					$('#slideadsleft2').owlCarousel({
						loop:true, margin:10, autoplay:true, responsiveClass:true, responsive:{
							0:{
								items:1, nav:true
							},
							400:{
								items:1, nav:true
							},
							600:{
								items:1, nav:true
							},
							1000:{
								items:1, nav:true, loop:true
							}
						}
					});
				</script>
				
			</div>
			
			<div class="col-md-12 mgt10">
				<h2 class="title-orange fadeInUp wow">Sản phẩm mới cập nhật</h2>
				<div class="desc fadeInUp wow">Chúng tôi chuyên cung cấp các sản phẩm chất lượng từ các nhà cung cấp uy tín với thương hiệu mạnh </div>
				<?=$list_sp_home_top?><!-- 5 sản phẩm mới nhất -->
			</div>
			
			<?=$list_sp_home_old?> <!-- Sản phẩm cũ hơn -->
			
			<?=$config_qc?><!-- quảng cáo dạng config -->
			
			<div class="box-all list-raovat mgt10">
				<?=$info_huuich?><!-- Thông tin hữu ích -->
				
				<?=$info_thongthai?><!-- Tiêu dùng thông thái -->
				
				<div class="col-md-3">
					<div class="box-raovat fadeInUp wow">
						<?=$list_qc_content?><!-- Quảng cáo phần content dạng slide -->
						<script>
							$('#slideadsfree').owlCarousel({
								loop:true, margin:10, autoplay:true, responsiveClass:true, responsive:{
									0:{
										items:1, nav:true
									},
									400:{
										items:1, nav:true
									},
									600:{
										items:1, nav:true
									},
									1000:{
										items:1, nav:true, loop:true
									}
								}
							});
						</script>
					</div>
				</div>
				
				<div class="col-md-3">
					<div class="box-raovat fadeInUp wow">
						<?=$list_thuong_hieu?><!-- List thương hiệu nổi bật -->
						<script>
							$('#slideadsfree2').owlCarousel({
								loop:true, margin:10,  autoplay:true, responsiveClass:true, responsive:{
									0:{
										items:1, nav:true
									},
									400:{
										items:1, nav:true
									},
									600:{
										items:1, nav:true
									},
									1000:{
										items:1, nav:true, loop:true
									}
								}
							});
						</script>
					</div>
				</div>
			</div>				
			
		</div>
	</div>
	<div class="bg-orange box-all mgt10 pdb20 trai-nghiem">
		<div class="container">
			<div class="box-all">
				<h2 class="title-orange color-w fadeInUp wow">TRẢI NGHIỆM SẢN PHẨM TỪ NGƯỜI DÙNG</h2>
				<div class="desc color-w fadeInUp wow">Theo dõi các đánh giá từ người dùng sản phẩm để thấy được chất lượng và sự hiệu quả sử dụng
				</div>
			</div>
			<div class="box-all mgt20 fadeInUp wow">
				<?=$trainghiem?>
			</div>
			<script>
				$('#slidetiepthi').owlCarousel({
					loop:true, margin:20, autoplay:true, responsiveClass:true, responsive:{
						0:{
							items:1, nav:true
						},
						400:{
							items:1, nav:true
						},
						600:{
							items:2, nav:true
						},
						1000:{
							items:3, nav:true, loop:true
						}
					}
				});
			</script>
		</div>
	</div>
	<div class="box-all mgt10 pdb20">
		<div class="container">
			<div class="box-all">
				<h2 class="title-orange fadeInUp wow">BÍ QUYẾT KINH DOANH ONLINE</h2>
				<div class="desc fadeInUp wow">Thông tin hỗ trợ kiến thức giúp bạn nhanh chóng biết cách kinh doanh online hiệu quả
				</div>
			</div>
			<div class="row">
				<div class="box-all listNews mgt20">
					<div class="col-md-5 fadeInUp wow col-sm-6">
						<?=$tinmoinhat?><!-- Tin mới nhất  -->
						<?=$tinmoi?><!-- Tin mới giới hạn 2 tin  -->
					</div>
					<?=$old_news?><!-- Tin tức cũ hơn giới hạn 4 tin -->
					<?=$gocchuyengia?>
				</div>
			</div>
			
			
			<div class="box-all">
				<h2 class="title-orange fadeInUp wow">Video giới thiệu sản phẩm</h2>
				<div class="desc fadeInUp wow">Các thông tin nổi bật từ các thương hiệu hàng đầu</div>
			</div>
			<div class="box-all mgt20 fadeInUp wow">
				<?=$list_video?><!-- List video giới thiệu sản phẩm -->
				<script>
					$('#slidevideo').owlCarousel({
						loop:true, margin:10, responsiveClass:true, autoplay:true, responsive:{
							0:{
								items:1, nav:true
							},
							450:{
								items:2, nav:true
							},
							600:{
								items:3, nav:true
							},
							1000:{
								items:4, nav:true, loop:true
							}
						}
					});
				</script>
			</div>
			
			
		</div>
	</div>
</section>
	
<section class="box-all mgt10">
	<div class="container">
		
		<?=$dichvu?><!-- Dịch vụ -->
		
		<div class="box-all">
			<h2 class="title-orange fadeInUp wow">Học người thành công - Học làm giàu</h2>
			<div class="desc fadeInUp wow">Để thành công, hãy làm theo người thành công</div>
		</div>
		
		<div class="slide-sucess fadeInUp wow box-all mgt20">
			<?=$list_thanhcong?><!--Học hỏi người thành công làm giàu-->
			<script>
				$('#slidesuccess').owlCarousel({
					loop:true, margin:10, autoplay:true, responsiveClass:true, responsive:{
						0:{
							items:1, nav:true
						},
						400:{
							items:2, nav:true
						},
						600:{
							items:3, nav:true
						},
						1000:{
							items:4, nav:true, loop:true
						}
					}
				});
			</script>
		</div>
		
		
		
	</div>
</section>