<section class="box-all mgt10">
	<div class="box-all mgt10 pdb20">
		<div class="container">
			<div class="box-all">
				<h2 class="title-orange fadeInUp wow"><?=$title_cat?></h2>
				<div class="desc fadeInUp wow">Các thông tin nổi bật từ các thương hiệu hàng đầu</div>
			</div>
			<div class="box-all mgt20 fadeInUp wow">
				<?=$main_contents?><!-- List video giới thiệu sản phẩm -->
				<script>
					$('#slidevideo').owlCarousel({ nestedItemSelector: 'slide' });
				</script>
			</div>
		</div>
	</div>
</section>