<section class="box-all bg-white">
	<div class="container">
		<div class="box-all txtCenter">
			<h2 class="title-big">Sản phẩm mới</h2>
		</div>
		<?=$list_menur_pro?>
		<div class="col-md-9">
			<?=$main_contents?>
		</div>
		<!--<div class="bs-example" style="text-align:center">
		<ul class="pagination">
			<li class="active"><a href="#">1</a></li>
			<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>
			<li><a href="#"> » </a></li>	
		</ul>
		</div>-->
	</div>
</section>