<?=$list_sp_tieubieu?>
<section class="box-white bg-ctv">
	<div class="container">
		<h2 class="title-big text-uppercase">Thông tin dành cho cộng tác viên</h2>
		<?=$des_ctacvien?>
		<div class="row">
			<?=$ctacvien_tb?>
			<?=$list_ctv?>
		</div>
	</div>
</section>
<section class="box-white bg-chung-nhan">
	<div class="container">
		<h2 class="title-big text-uppercase">THÔNG TIN THƯƠNG HIỆU</h2>
		<?=$des_thuonghieu?>
		<?=$list_thuonghieu?>
	</div>
</section>
<section class="box-white">
	<div class="container">
		<h2 class="title-big text-uppercase">SẢN PHẨM ĐƯỢC NHIỀU NGƯỜI QUAN TÂM</h2>
		<?=$list_sp_home_banchay?>
		<?=$list_sp_home?>
	</div>
</section>
<section class="box-white bg-video">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<h2 class="title-big mt-50">Video Clip Sản Phẩm</h2>
				<?=$des_video?>
				<a href="info-19-video-san-pham.html?idcat=106" class="btn-more btn-white">Xem tiếp</a>
			</div>
			<?=$list_video?>
		</div>
	</div>
</section>
<?=$y_kien?>
<?=$listnews?>




<?=$list_sp_tieubieu?><!-- Sản phẩm tiêu biểu -->
<?=$list_sp_home?><!--List sản phẩm mới-->
<?=$listnews?><!-- Tin tức mới nhất -->