<tbody>
<tr bgcolor="#FFFFFF" >
	<td width="262" height="25"><a href="#" class="menu" title="View" ><?=$name?></a></td>
	<td width="261" height="25"><?=$NAME_TYPE?></td>
	<td width="142" height="25"><?=$NAMECAT?></td>
	<td width="154" height="25" class="content"><?=$LINK?></td>
	<td width="80" height="25" class="content"><?=$IORDER?></td>
	<td width="23"><a href="#"  title="View" onclick="window.open('index.php?act=updatesubcatmenu&typecat=<?=$idtype?>&idprocat=<?=$id?>&ac=v','Viewsubcatelementpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=800,height=300');"  ><img src="images/magnifier.png" width="16" alt="View"></a></td>
	<td width="19"><a href="#"  title="Edit" onclick="window.open('index.php?act=updatesubcatmenu&typecat=<?=$idtype?>&idprocat=<?=$id?>&ac=e','Editsubcatelementpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=800,height=300');"  ><img src="images/icon_edit.png" width="16" alt="Edit"></a></td>
	<td width="37"><a href="#"  title="Delete" onclick="delit(<?=$id?>,'3');" ><img src="images/icon_delete.png" width="16" alt="Delete"></a></td>
</tr>
</tbody>