<div class="box">
                        <div class="caption caption1 ">
							<span><?=$lang['tl_aqltkhoan']?></span>
						</div>						
                        <div class="box-news">
                            <ul >
                                <li>
                                    <div class="box-news-item-first">
                                        <a href="thong-tin-tai-khoan.html" ><?=$lang['tl_attintkhoan']?></a>		
                                    </div>
									<div class="box-news-item-first">
                                        <a href="hieu-chinh-tai-khoan.html" ><?=$lang['tl_ahctkhoan']?></a>		
                                    </div>
                                    <div>
                                        <a href="donhang-6-quan-ly-don-hang.html" ><?=$lang['tl_aqldhang']?></a>
                                    </div>
                                </li>                               
                            </ul>

                        </div>
                    </div>


                           
