<div id="menuaccordion">
	<h3>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
<tr>
    <td height="30"><img src="images/sanpham-tomiki_43.jpg" width="12" height="7"> &nbsp;<a href="lienhe-<?=$ID_TYPE?>-<?=$name_link?>.html?idcat=<?=$ID_CAT?>" <?=$cl1_selected?> ><?=$name?></a></td>
</tr>
</table>
	</h3>		
	<div class="accordion">
<table width="100%" border="0" cellspacing="0" cellpadding="0">               
	<tr>
	  <td height="1" ></td>
	</tr>
	<?=$list_catsub_menu?>
</table>
	</div>
</div>