<div class="col-md-12">
<table width="100%" border="0" cellspacing="3" cellpadding="3"  class="contentz">
  <tr>
    <td width="2%" height="2" align="left"></td>
    <td height="2" align="left" > </td>
  </tr>
  <tr>
    <td align="left" height="30"></td>
    <td height="30" align="center"><p><?=$mess1?> </p>      
    <p><?=$mess2?></p></td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td height="10" align="left">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" height="10"></td>
    <td height="10" align="left" class="contentz">&nbsp;</td>
  </tr>  
</table>	
</div>	
