<tr>
	<td width="20" height="25"><input type="checkbox" name="ck" value="<?=$idlike?>"></td>
	<td width="33" height="25" align="left"><?=$stt?></td>
	<td width="153" height="25" align="left"><a href="spchitiet-<?=$idp?>-<?=$name_link?>.html" class="linkopacity" target="_blank" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY?>/<?=$THUMBNAIL?>" alt="<?=$productname?>" width="100" height="100"></a></td>
	<td width="258" height="25"><a href="spchitiet-<?=$idp?>-<?=$name_link?>.html" class="title_xam" target="_blank" ><?=$productname?></a></td>
	<td width="27"><a href="spchitiet-<?=$idp?>-<?=$name_link?>.html" class="menu" title="detail" target="_blank" ><img src="images/magnifier.png" width="16" alt="View"></a></td>
	<td width="25"><a href="#"  title="<?=$lang['tl_dl']?>" onclick="if(confirm('<?=$lang['tl_delsure']?>')) window.location.href='index.php?act=delete_prolike&idlike=<?=$idlike?>&ac=d<?=$page?>';" ><img src="images/icon_delete.png" width="16" alt="Delete"></a></td>
	<td width="20"></td>
	<td width="14"></td>
</tr>
<tr>	
	<td colspan="8" height="10"><span class="dotline"></span></td>
</tr>