<tr>
	<td width="33" height="35" align="center">
	<?=$stt?></td>
	<td width="93" align="left"><a href="http://onlinemall.vn/spchitiet-<?=$idp?>-<?=$name_link?>.html" class="linkopacity" target="_blank" ><img class="border_rounded" border="0" src="images/bin/<?=$ID_CATEGORY?>/<?=$THUMBNAIL?>" alt="<?=$productname?>" width="80" height="80"></a></td>
	<td width="280" height="35" align="left"><a href="http://onlinemall.vn/spchitiet-<?=$idp?>-<?=$name_link?>.html" class="title_xam" target="_blank" ><?=$productname?></a></td>
	<td width="86" height="35" align="right"><?=$price?></td>
	<td width="95" align="right"><?=$sale?></td>
	<td width="86" height="35" align="center"><?=$quantity?></td>
	<td width="134" height="35" align="right"><?=$totalmoney?></td>
	<td width="178" align="right"><?=$totalmoney_disc?></td>
  </tr>