<table border="0" width="100%" cellspacing="0" cellpadding="0" >
	<tr bgcolor="#e7e8e9" >
		<td width="33"  height="32" align="right"><?=$lang['tl_stt']?></td>
		<td width="93"  align="center">&nbsp;&nbsp;&nbsp;</td>
		<td width="280"  height="32" align="left"><?=$lang['tl_csanpham']?>  </td>
		<td width="86"  height="32" align="right"><?=$lang['tl_cdongia']?>  </td>
	  <td width="95"  align="right"><?=$lang['tl_cgiamgia']?></td>
		<td width="86"  height="32" align="center"><?=$lang['tl_csoluong']?>  </td>
		<td width="134"  height="32" align="right"><?=$lang['tl_cthanhtien']?>  </td>
		<td width="178"  align="right"><?=$lang['tl_cthanhtien']?> <br />
      <span class="style_nho">(<?=$lang['tl_csaugiam']?>)</span></td>
	</tr>
	<tr >
			<td width="33" class="do" height="5"></td>
			<td width="93" class="do" align="left"></td>
			<td width="280" class="do" height="5" align="left"></td>
			<td width="86" class="do" height="5" align="left"></td>
			<td width="95" class="do" align="left"></td>
			<td width="86" class="do" height="5" align="left"></td>
			<td width="134" class="do" height="5" align="left"></td>
			<td width="178" class="do" align="left"></td>
	</tr>		
<tr>
	<td  colspan="8" height="1" ></td>
</tr>
<tr>
	<td  colspan="8" height="10" ></td>
</tr>
	<?=$list_pro_com?>
<tr>
	<td  colspan="8" height="10" ></td>
</tr>
<tr bgcolor="#f2f2f3" >
		<td width="33" class="do" height="25">&nbsp;</td>
		<td width="93" class="title_cam" align="left"><?=$lang['tl_ctongtien']?></td>
		<td width="280" class="do" height="25" align="left">&nbsp;</td>
		<td width="86" class="do" height="25" align="left">&nbsp;</td>
		<td width="95" class="do" align="left">&nbsp;</td>
		<td width="86" class="do" height="25" align="left">&nbsp;</td>
		<td width="134" class="title_cam" height="25" align="right"><?=$totalpay?>  </td>
		<td width="178" class="title_cam" align="right"><?=$totalpay_disc?></td>
  </tr>
<tr>
	<td  colspan="8" height="15" ></td>
</tr>
</table>