<table width="769"  border="0" cellpadding="0" cellspacing="0">	
	<tr>
		<td height="3" ></td>		
	</tr>
	<tr style="display:none">
	  <td width="769" height="47" background="images/bghot_news.jpg"><table width="100%" height="47" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="27%" align="center" class="title_hotnews"><?=$lang['tl_hotnews']?> </td>
          <td width="60%" class="style11"><?=$hotnews?></td>
          <td width="8%" valign="middle" align="center">&nbsp;<a href="muc-3-tin-tuc.html" class="x"><?=$lang['tl_readmore']?></a></td>
		  <td width="5%" align="left"></td>
        </tr>
      </table></td>
  </tr>
  <tr>
		<td height="3" ></td>		
	</tr>
	<tr>
	  <td valign="top" ><div id="header"><div class="wrap"> <div id="slide-holder"> <div id="slide-runner"> <?=$list_img?><div id="slide-controls"> <p id="slide-client" class="text"><strong>Description: </strong><span></span></p> <p id="slide-desc" class="text"></p> <p id="slide-nav"></p> </div> </div> <!--content featured gallery here --> </div> <!-- vi tri scrip --> <script type="text/javascript"> if(!window.slider) var slider={}; slider.data=[{'id':'slide-img-1','client':'H1','desc':'mo ta h1'},{'id':'slide-img-2','client':'H2','desc':'Mo ta h2'},{'id':'slide-img-3','client':'H3','desc':'mo ta H3'},{'id':'slide-img-4','client':'nature beauty','desc':'add your description here'},{'id':'slide-img-5','client':'nature beauty','desc':'add your description here'}]; </script></div></div></td>
  </tr>
  <tr>
		<td height="2" ></td>		
	</tr>  
</table>  
