<div class="blocimg"><table cellpadding="0" cellspacing="0" >
<tr>
	<td ><a href="#" onclick="geturlimage('images/bin/imagenews/<?=$name1?>', '<?=$fnum?>');" class="linkopacity" title="Click để chọn ảnh - <?=$name1?>" ><img class="border_rounded" src="images/bin/imagenews/<?=$name1?>" alt="<?=$name1?>" width="100" height="80"></a></td>
	
</tr>
<tr>
	<td  height="25" ><div class="gricon">	<span ><input type="checkbox" name="ck" value="<?=$name1?>" ></span>  <span><img src="images/icon_del.png" style="cursor:pointer; width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage(<?=$pagejs?>,'<?=$name1?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y" ></span></div></td>
		
</tr>
</table>
</div>
<?php if($dis1 == "") { ?>
<div class="blocimg"><table cellpadding="0" cellspacing="0" >
<tr>
	<td ><a href="#" onclick="geturlimage('images/bin/imagenews/<?=$name2?>', '<?=$fnum?>');" class="linkopacity" title="Click để chọn ảnh - <?=$name2?>" ><img class="border_rounded" src="images/bin/imagenews/<?=$name2?>" alt="<?=$name2?>" width="100" height="80"></a></td>
	
</tr>
<tr>
	<td  height="25" ><div class="gricon">	<span >	<input type="checkbox" name="ck" value="<?=$name2?>" ></span><span >  <img src="images/icon_del.png" style="cursor:pointer;width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage(<?=$pagejs?>,'<?=$name2?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y" ></span></div></td>
		
</tr>
</table>
</div>
<?php } if($dis2 == "") { ?>
<div class="blocimg"><table cellpadding="0" cellspacing="0" >
<tr>
	<td ><a href="#" onclick="geturlimage('images/bin/imagenews/<?=$name3?>', '<?=$fnum?>');" class="linkopacity" title="Click để chọn ảnh - <?=$name3?>" ><img class="border_rounded" src="images/bin/imagenews/<?=$name3?>" alt="<?=$name3?>" width="100" height="80"></a></td>
	
</tr>
<tr>
	<td  height="25" ><div class="gricon">	<span >	<input type="checkbox" name="ck" value="<?=$name3?>" > </span> <span ><img src="images/icon_del.png" style="cursor:pointer;width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage(<?=$pagejs?>,'<?=$name3?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y" ></span></div></td>
		
</tr>
</table>
</div>
<?php } if($dis3 == "") { ?>
<div class="blocimg"><table cellpadding="0" cellspacing="0" >
<tr>
	<td ><a href="#" onclick="geturlimage('images/bin/imagenews/<?=$name4?>', '<?=$fnum?>');" class="linkopacity" title="Click để chọn ảnh - <?=$name4?>" ><img class="border_rounded" src="images/bin/imagenews/<?=$name4?>" alt="<?=$name4?>" width="100" height="80"></a></td>
	
</tr>
<tr>
	<td  height="25" ><div class="gricon">	<span >		<input type="checkbox" name="ck" value="<?=$name4?>" ></span>  <span ><img src="images/icon_del.png" style="cursor:pointer;width:14px;height:12px;" onclick="if(confirm('B&#7841;n ch&#7855;c ch&#7855;n mu&#7889;n x&oacute;a &#7843;nh n&agrave;y?')) delimage(<?=$pagejs?>,'<?=$name4?>','<?=$thumuc?>');" title="X&oacute;a &#7843;nh n&agrave;y" ></span></div></td>
		
</tr>
</table>
</div>
<?php } ?>