<div class="blocimg"><table cellpadding="0" cellspacing="0" >
<tr>
	<td ><a href="#" onclick="geturlimage('<?=$base_url?>images/bin/imagenews/<?=$name1?>', '<?=$fnum?>');" class="linkopacity" title="Click để chọn file - <?=$name1?>" ><img class="border_rounded" src="images/<?=$imgfile1?>" alt="<?=$name1?>" width="100" height="80"></a></td>
	
</tr>
<tr>
	<td ><span class="txtfile" ><?=$name1?></span></td>
	
</tr>
<tr>
	<td  height="25" ><div class="gricon">	<span ><input type="checkbox" name="ck" value="<?=$name1?>" ></span>  <span><img src="images/icon_del.png" style="cursor:pointer;width:14px;height:12px;" onclick="if(confirm('Bạn chắc chắn muốn xoá file này?')) delfile(<?=$pagejs?>,'<?=$name1?>','<?=$thumuc?>');" title="Xoá file này" ></span></div></td>
		
</tr>
</table>
</div>
<?php if($dis1 == "") { ?>
<div class="blocimg"><table cellpadding="0" cellspacing="0" >
<tr>
	<td ><a href="#" onclick="geturlimage('<?=$base_url?>images/bin/imagenews/<?=$name2?>', '<?=$fnum?>');" class="linkopacity" title="Click để chọn file - <?=$name2?>" ><img class="border_rounded" src="images/<?=$imgfile2?>" alt="<?=$name2?>" width="100" height="80"></a></td>
	
</tr>
<tr>
	<td ><span class="txtfile" ><?=$name2?></span></td>
	
</tr>
<tr>
	<td  height="25" ><div class="gricon">	<span >	<input type="checkbox" name="ck" value="<?=$name2?>" ></span><span >  <img src="images/icon_del.png" style="cursor:pointer;width:14px;height:12px;" onclick="if(confirm('Bạn chắc chắn muốn xoá file này?')) delfile(<?=$pagejs?>,'<?=$name2?>','<?=$thumuc?>');" title="Xoá file này" ></span></div></td>
		
</tr>
</table>
</div>
<?php } if($dis2 == "") { ?>
<div class="blocimg"><table cellpadding="0" cellspacing="0" >
<tr>
	<td ><a href="#" onclick="geturlimage('<?=$base_url?>images/bin/imagenews/<?=$name3?>', '<?=$fnum?>');" class="linkopacity" title="Click để chọn file - <?=$name3?>" ><img class="border_rounded" src="images/<?=$imgfile3?>" alt="<?=$name3?>" width="100" height="80"></a></td>
	
</tr>
<tr>
	<td ><span class="txtfile" ><?=$name3?></span></td>
	
</tr>
<tr>
	<td  height="25" ><div class="gricon">	<span >	<input type="checkbox" name="ck" value="<?=$name3?>" > </span> <span ><img src="images/icon_del.png" style="cursor:pointer;width:14px;height:12px;" onclick="if(confirm('Bạn chắc chắn muốn xoá file này?')) delfile(<?=$pagejs?>,'<?=$name3?>','<?=$thumuc?>');" title="Xoá file này" ></span></div></td>
		
</tr>
</table>
</div>
<?php } if($dis3 == "") { ?>
<div class="blocimg"><table cellpadding="0" cellspacing="0" >
<tr>
	<td ><a href="#" onclick="geturlimage('<?=$base_url?>images/bin/imagenews/<?=$name4?>', '<?=$fnum?>');" class="linkopacity" title="Click để chọn file - <?=$name4?>" ><img class="border_rounded" src="images/<?=$imgfile4?>" alt="<?=$name4?>" width="100" height="80"></a></td>
	
</tr>
<tr>
	<td ><span class="txtfile" ><?=$name4?></span></td>
	
</tr>
<tr>
	<td  height="25" ><div class="gricon">	<span >	<input type="checkbox" name="ck" value="<?=$name4?>" ></span>  <span ><img src="images/icon_del.png" style="cursor:pointer;width:14px;height:12px;" onclick="if(confirm('Bạn chắc chắn muốn xoá file này?')) delfile(<?=$pagejs?>,'<?=$name4?>','<?=$thumuc?>');" title="Xoá file này" ></span></div></td>
		
</tr>
</table>
</div>
<?php } ?>