<script type="text/javascript" src="js/webtoolkit.base64.js"></script>
<table width="100%" border="0" cellspacing="3" cellpadding="3" >
  <tr>
    <td width="2%" height="10" align="left"></td>
    <td width="29%" height="10" align="left" class="title_xam"><?=$lang['tl_tpthanhtoan']?> </td>
    <td width="69%" height="10" align="left"><span id="mess_er1" class="do"></span></td>
  </tr>  
  <tr>
    <td align="left" height="10"></td>
    <td height="10" colspan="2" align="left" ></td>
  </tr>    
</table>	
<!-- container -->
	<div class="padding15"> 
	  <div id="controllaccordion">
	  <h3> 		
		<input class="inc1" id="pay1" name="pay" value="1" <?=$cked1?> type="radio"> <span><?=$lang['tl_ttructiep']?></span>		
		</h3>		
	<div  class="accordion">
			<p><?=$content_pay1?></p>
	</div>
<!--	
	<h3>
		<input class="inc1" id="pay2" name="pay" value="2" <?=$cked2?>  type="radio"><span> <?=$lang['tl_ttheatm']?></span>
	</h3>
	<div  class="accordion">
		<p><?=$content_pay2?></p>		
	</div>
-->	
	<h3>
		<input class="inc1" id="pay3" name="pay" value="3" <?=$cked3?>  type="radio"> <span><?=$lang['tl_ttienmat']?></span> 	
	</h3>
	<div  class="accordion">
		<p><?=$content_pay3?></p>		
	</div>
	<h3>
		<input class="inc1" id="pay7" name="pay" value="7" <?=$cked7?>  type="radio"> <span> Thanh toán qua 123Pay</span>		 	
	</h3>
	<div  class="accordion">
		<div style="margin:0 20px 10px 20px; border:1px solid #eee;height:25px;">
		<input class="inc1" id="paynoidia" name="pay123" value="123PAY" <?=$cked_pay123a?>  type="radio"> <span> Thanh toán qua 123Pay bằng thẻ ATM nội địa</span>
		<input class="inc1" id="payqte" name="pay123" value="123PCC" <?=$cked_pay123b?>  type="radio"> <span> Thanh toán qua 123Pay bằng thẻ Visa/Master/jCB</span>
		</div>
		<p><?=$content_pay7?></p>		
	</div>
	<h3>
		<input class="inc1" id="pay4" name="pay" value="4" <?=$cked4?>  type="radio"> <span><?=$lang['tl_tnganluong']?>	</span>		  	
	</h3>
	<div  class="accordion">
		<p><?=$content_pay4?></p>		
	</div>
	<h3>
		<input class="inc1" id="pay5" name="pay" value="5" <?=$cked5?>  type="radio"> <span> <?=$lang['tl_tbaokim']?></span>	
	</h3>
	<div  class="accordion">
		<p><?=$content_pay5?></p>		
	</div>
	<h3>
		<input class="inc1" id="pay6" name="pay" value="6" <?=$cked6?>  type="radio"> <span><?=$lang['tl_tvanphong']?></span>
			   	
	</h3>
	<div  class="accordion">
		<p><?=$content_pay6?></p>		
	</div>
  </div>
</div>
<!-- //container -->	