<tbody>
<tr bgcolor="#FFFFFF">
	<td width="268" height="25"><a href="#" class="menu"  title="View" onclick="window.open('index.php?act=updatepropay&idpropay=<?=$idpropay?>&ac=v','Viewcatpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=\'100%\',height=\'100%\'');"  ><?=$propayname?></a></td>
	<td width="161" class="content"><?=$emailpay?></td>
	<td width="140" class="content"><?=$merchant?></td>
	<td width="187" height="25" class="content"><?=$accesscode?></td>
	<td width="106" height="25" class="content"><?=$IORDER?></td>
	<td width="22"><a href="#"  title="View" onclick="window.open('index.php?act=updatepropay&idpropay=<?=$idpropay?>&ac=v','Viewcatpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=\'100%\',height=\'100%\'');"  ><img src="images/magnifier.png" width="16" alt="View"></a></td>
	<td width="22"><a href="#"  title="Edit" onclick="window.open('index.php?act=updatepropay&idpropay=<?=$idpropay?>&ac=e','Editcatpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=\'100%\',height=\'100%\'');"  ><img src="images/icon_edit.png" width="16" alt="Edit"></a></td>
	<td width="72"></td>
</tr>
</tbody>