<tr>
	<td width="319" height="25"><?=$NAME?></td>
	<td width="258" height="25"><?=$NAMECAT?></td>
	<td width="162" height="25" class="contents"></td>
	<td width="84" class="contents"><?=$STATUS?></td>
	<td width="75" height="25" class="contents"><?=$IORDER?></td>
	<td width="20"><a href="#"  title="View" onclick="window.open('index.php?act=updatemt&cat=<?=$idcat?>&idtype=<?=$idtype?>&ac=v','Viewcatpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=\'100%\',height=\'100%\'');"  ><img src="images/magnifier.png" width="16" alt="View"></a></td>
	<td width="20"><a href="#"  title="Edit" onclick="window.open('index.php?act=updatemt&cat=<?=$idcat?>&idtype=<?=$idtype?>&ac=e','Editcatpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=\'100%\',height=\'100%\'');"  ><img src="images/icon_edit.png" width="16" alt="Edit"></a></td>
	<td width="40"></td>
</tr>