<table border="0" width="1000">
	<tr>
		<td width="16" height="30"><img src="images/<?=$icon_selected1?>.jpg" width="13"></td>
		<td width="182"><a href="index.php?act=adm_category&mn=1" class="<?=$cl1?>"><?=$lang['chuyenmucsanpham']?></a></td>
		<td width="22"><img src="images/<?=$icon_selected2?>.jpg" width="13"></td>
		<td width="154"><a href="index.php?act=adm_common&mn=2"  class="<?=$cl2?>"><?=$lang['chuyenmucthongtin']?></a></td>
		<td width="85">&nbsp;</td>
		<td width="67"> </td>
		<td width="30">&nbsp;</td>
		<td width="410"></td>
	</tr>
</table>