<table border="0" width="1000">
	<tr>
		<td width="21"><img src="images/bricks_gear.png" width="16"></td>
		<td width="106"><a href="#" class="menu"><?=$lang['adm_emailtemplates']?>   </a></td>
		<td width="16"><img src="images/bricks.png" width="16"></td>
		<td width="128"><a href="#"  class="menu"><?=$lang['adm_templatessend']?> </a></td>
		<td width="23"><img src="images/icon_product.gif" height="22"></td>
		<td width="139"><a href="#" class="menu"><?=$lang['adm_thongkeguimail']?> </a></td>
		<td width="25"><img src="images/icon_service2.jpg" height="25"></td>
		<td width="214"><a href="index.php?act=adm_contacts" class="menu"><?=$lang['adm_khachhangnhantin']?> </a></td>
		<td width="16">&nbsp;</td>
		<td width="270"></td>
	</tr>
</table>