<table border="0" width="1000" cellspacing="0" cellpadding="0">
							<tr>
								<td width="11" height="34" align="left"><img src="images/left_title1.jpg" width="11" border="0"></td>
								<td class="title" align="left" background="images/bgtitle6.jpg"> <?=$comname?></td>
								<td class="title" align="right"  width="10" height="34" ><img src="images/right_title2.jpg" width="10" border="0"></td>
							</tr>
							<tr>
								<td height="3" align="left" colspan="3"></td>								
							</tr>
						</table>

