<table border="0" width="100%">
	<tr>
		<td width="22" height="30"><img src="images/<?=$icon_selected1?>.jpg" width="13"></td>
		<td width="78"><a href="index.php?act=adm_banner&idps=1&mn=1" class="<?=$cl1?>"><?=$lang['adm_home']?> </a></td>
		<td width="21"></td>
		<td width="94"></td>
		<td width="133">&nbsp;</td>
		<td width="23"></td>
		<td width="15">&nbsp;</td>
		<td width="13">&nbsp;</td>
	    <td width="34">&nbsp;</td>
	    <td width="21">&nbsp;</td>
	    <td width="47">&nbsp;</td>
	    <td width="24">&nbsp;</td>
	    <td width="421"><a href="index.php?act=adm_banner&idps=9&mn=9"  class="<?=$cl9?>"></a></td>
	</tr>
</table>

