<table border="0" width="1000">
	<tr>
		<td width="31" align="center" height="35"><img src="images/bricks_gear.png" width="16"></td>
		<td width="78"><a href="index.php?act=adm_company" class="menu"><?=$lang['adm_congty']?></a></td>
		<td width="24"><img src="images/bricks.png" width="16"></td>
		<td width="138"><a href="index.php?act=adm_products&cat=1"  class="menu"><?=$lang['adm_quanlysanpham']?></a></td>
		<td width="23"><img src="images/icon_product.gif" height="22"></td>
		<td width="139"><a href="index.php?act=adm_payments" class="menu"><?=$lang['adm_quanlydonhang']?> </a></td>
		<td width="25"><img src="images/bricks.png" width="16"></td>
		<td width="140"><a href="index.php?act=adm_customer&idrole=5" class="menu"><?=$lang['adm_quanlykhachhang']?></a></td>
		<td width="30"></td>
		<td width="330"></td>
	</tr>
</table>