<table border="0" width="1000" bgcolor="#FFFFFF">
	<tr>
		<td width="30" height="35" align="right"><img src="images/bricks_gear.png" width="16"></td>
		<td width="108">&nbsp;&nbsp;<a href="?act=adm_account" class="menu"><?=$lang['adm_taikhoan']?>  </a></td>
		<td width="25"><img src="images/bricks.png" width="16"></td>
		<td width="122"><a href="?act=adm_rolelist"  class="menu"> 	<?=$lang['adm_quanlyvaitro']?></a></td>
		<td width="25"></td>
		<td width="123"></td>
		<td width="25">&nbsp;</td>
		<td width="508">&nbsp;</td>
	</tr>
</table>