<table border="0" width="1000">
	<tr>
		<td width="21"><img src="images/bricks_gear.png" width="16"></td>
		<td width="122"><a href="?act=adm_account" class="title">&#272;&#7841;i l&yacute; chi&#7871;t kh&#7845;u </a></td>
		<td width="20"><img src="images/bricks.png" width="16"></td>
		<td width="122"><a href="?act=adm_rolelist"  class="title">&#272;&#7841;i l&yacute; k&yacute; g&#7917;i </a></td>
		<td width="25"><img src="images/bricks.png" width="16"></td>
		<td width="123">Kh&aacute;ch h&agrave;ng mua l&#7867; </td>
		<td width="25">&nbsp;</td>
		<td width="508">&nbsp;</td>
	</tr>
</table>