<table border="0" width="1059">
	<tr>
	  <td height="10"></td>
	  <td></td>
	  <td ></td>
	  <td ></td>
	  <td ></td>
	  <td></td>
  </tr>
	<tr>
		<td width="8"></td>
		<td width="457">Lọc ảnh:	     
		  <select  style="WIDTH: 176px;" size="1" name="catfilter" id="catfilter" onchange="filtertype();" >
		    <option value="">Chọn thu mục ảnh...</option> 
            <?=$list_category?>
			<option value="1000">Thư viện ảnh khác</option>
      </select></td>
		<td width="40" ></td> 
		<td width="46" align="right" ></td>
		<td width="47" align="right"></td>
		<td width="435">&nbsp;</td>
	</tr>
</table>
