<table border="0" width="1000"  bgcolor="#FFFFFF" >
	<tr>
		<td width="25" height="30" align="right"><img src="images/bricks_gear.png" width="16"></td>
		<td width="155">&nbsp;&nbsp;<a href="index.php?act=adm_category" class="menu"><?=$lang['adm_quanlychuyenmuc']?> </a></td>
		<td width="20"><img src="images/bricks.png" width="16"></td>
		<td width="126"><a href="index.php?act=adm_provinces"  class="menu"><?=$lang['adm_quanlytinhthanh']?> </a></td>
		<td width="22"><img src="images/mail1.png" height="17"></td>
		<td width="84"><a href="#" class="menu"  title="View" onclick="window.open('index.php?act=update_mailsmtp&ac=v&ids=1','Viewcatpopup','scrollbars=yes,status=yes,toolbar=no,location=0,directories=0,status=yes,menubar=0,resizable=0,width=800,height=250');"  ><?=$lang['adm_mailsmtp']?></a></td>
		<td width="24"><img src="images/icon_product.gif" height="22"></td>
		<td width="147"><a href="index.php?act=adm_type_transfer&mn=1" class="menu"><?=$lang['adm_quanlyvanchuyen']?> </a></td>
		<td width="26"><img src="images/banner.png" height="22"></td>
		<td width="300"><a href="index.php?act=adm_propay" class="menu"><?=$lang['adm_kieuthanhtoan']?> </a></td>
	    <td width="10">&nbsp;</td>
	    <td width="11">&nbsp;</td>
	</tr>
</table>
