<table border="0" width="1000" bgcolor="#FFFFFF">
	<tr>
		<td width="25"  height="30" align="right"><img src="images/bricks_gear.png" width="16"></td>
		<td width="85">&nbsp;&nbsp;<a href="?act=adm_commonlist&idtype=1" class="menu"><?=$lang['adm_congty']?></a></td>
		<td width="20"><img src="images/newspaper.png" width="16"></td>
		<td width="68"><a href="?act=adm_commonlist&idtype=3"  class="menu"><?=$lang['adm_tintuc']?></a></td>
		<td width="21"><img src="images/other.png" width="16"></td>
	    <td width="140"><a href="?act=adm_commonlist&idtype=5"  class="menu"><?=$lang['adm_cauhinhtonghop']?></a></td>
	    <td width="24"><img src="images/newspaper.png" width="16"></td>
	    <td width="96"><a href="?act=adm_banner&idps=1&mn=1"  class="menu"><?=$lang['adm_banner']?> </a></td>
	    <td width="20"><img src="images/16camera.png" width="16"></td>
	    <td width="128"><a href="thu-vien-anh.html"  class="menu"><?=$lang['adm_thuvienanh']?></a></td>
	    <td width="22"><img src="images/browser_download.png" width="16"></td>
	    <td width="150"><a href="thu-vien-anh.html?f=1"  class="menu"><?=$lang['adm_thuvientailieu']?></a></td>
		<td width="22"></td>
	    <td width="130"></td>
	</tr>
</table> 
