<table width="1023" border="0" cellpadding="0" cellspacing="0">                  
		  <tr>            
            <td  valign="top">			
				<div class="style38" id="apDiv55">
					  <div align="center">
						<p><span class="style49">.....................................................................................................................................................................................................................................................................................................................................................<br>  
						</span><span class="style39"><?=$text_footer?></span></p>
					  </div>
			  </div>
				  <div class="style50" id="apDiv56"><span class="style49"> ......................................................................................................................................................................................................................................................................................................................................................</span><br>
			</div>			
			</td>            
          </tr>
		  <tr>            
            <td  height="10" ></td>            
          </tr>
</table>