<div class="col-md-10 middle-about-timeline">
<div class="wrap_tree">
<div class="year_b right_icon" id="year_b_1">2017</div>

<div class="clearAll">&nbsp;</div>

<div class="timeline">
<div class="year right_icon">2016</div>

<div class="timeline_item timeline_left first_timeline">
<div class="timeline_check">&nbsp;</div>

<div class="timeline_arrow">&nbsp;</div>

<div class="timeline_item_title"><span>Trở th&agrave;nh nh&agrave; cung cấp Nha đam h&agrave;ng đầu tại Việt nam</span></div>
<img alt="Cung cap nha dam hang dau Viet nam" src="images/bin/imagenews/news_1484271267_vuonnhadam1.jpg" style="width: 323px; height: 215px;" title="Cung cấp nha đam hàng đầu Việt nam" />
<div class="timeline_des">Với việc sở hữu hai nh&agrave; m&aacute;y lớn về Nha Đam v&agrave; Thạch Dừa, quản l&yacute; v&agrave; ph&aacute;t triển v&ugrave;ng nguy&ecirc;n liệu. Hiện nay, C&ocirc;ng ty Thực phẩm GC l&agrave; nh&agrave; cung cấp sản phẩm nha đam lớn nhất Việt Nam cho những C&ocirc;ng ty lớn như C&ocirc;ng ty Vinamilk, Rita, &hellip;</div>
<div class="clearAll">

<div class="clearAll">&nbsp;</div>
</div>
</div>

<div class="timeline_item timeline_right">
<div class="timeline_arrow">&nbsp;</div>

<div class="timeline_item_title"><span>Th&agrave;nh lập C&ocirc;ng ty TNHH Thực phẩm C&ocirc; C&ocirc; Việt Nam</span></div>
<img alt="Công ty Cô Cô Việt nam" src="images/bin/imagenews/nhamaygc-14868045511039896236.png" style="width: 323px; height: 110px;"  />
<div class="timeline_des">Th&agrave;nh lập C&ocirc;ng ty TNHH Thực phẩm C&ocirc; C&ocirc; Việt Nam, X&acirc;y dựng nh&agrave; m&aacute;y hơn 1 ha tại KCN Hố Nai, tỉnh Đồng Nai. Chuy&ecirc;n về chế biến c&aacute;c sản phẩm Dừa.</div>
</div>
</div>

<div class="clearAll">&nbsp;</div>

<div class="year_b left_icon" id="year_b_1">2015s</div>
&nbsp;

<div class="clearAll">&nbsp;</div>

<div class="timeline">
<div class="year right_icon">10/2015</div>

<div class="timeline_item timeline_left first_timeline">
<div class="timeline_check">&nbsp;</div>

<div class="timeline_arrow">&nbsp;</div>

<div class="timeline_item_title"><span>Nghi&ecirc;n cứu v&agrave; chế biến sản phẩm Thạch Dừa Sạch</span></div>
<img alt="Nhận Huân chương Lao động hạng Nhì" src="images/bin/imagenews/thachdua-1486803138322746160.jpg" style="width: 320px; height: 253px;" title="Nhận Huân chương Lao động hạng Nhì" />
<div class="timeline_des">
<p>Nghi&ecirc;n cứu v&agrave; chế biến th&agrave;nh c&ocirc;ng sản phẩm Thạch Dừa Sạch</p>

<p>&nbsp;</p>
</div>
</div>
</div>

<div class="clearAll">&nbsp;</div>

<div class="timeline">
<div class="year left_icon">09/1015</div>

<div class="timeline_item timeline_right first_timeline">
<div class="timeline_check">&nbsp;</div>

<div class="timeline_arrow">&nbsp;</div>

<div class="timeline_item_title">C&ocirc;ng ty CP Thực phẩm C&aacute;nh Đồng Việt</div>
<img alt="Cánh Đồng Việt" src="images/bin/imagenews/canhdongviet2-14868036561694417758.png" style="width: 323px; height: 242px;" title="Khánh thành Nhà máy sữa đầu tiên ở Hà Nội" />
<div class="timeline_des">
<p>Ch&iacute;nh thức ra mắt C&ocirc;ng ty CP Thực phẩm C&aacute;nh Đồng Việt.<br />
X&acirc;y dựng nh&agrave; m&aacute;y quy m&ocirc; 2 ha chuy&ecirc;n sản xuất v&agrave; chế biến Nha Đam tại KCN Th&agrave;nh Hải, Ninh Thuận, ngay tại v&ugrave;ng trồng nguy&ecirc;n liệu Nha Đam duy nhất ở Việt Nam. Ch&iacute;nh thức ra mắt C&ocirc;ng ty CP Thực phẩm C&aacute;nh Đồng Việt (Viet farm).</p>
</div>
</div>

<div class="clearAll">&nbsp;</div>
</div>

<div class="clearAll">&nbsp;</div>

<div class="year_b right_icon" id="year_b_1">2012s</div>

<div class="clearAll">&nbsp;</div>

<div class="timeline">
<div class="year right_icon">09/2012</div>

<div class="timeline_item timeline_left first_timeline">
<div class="timeline_check">&nbsp;</div>

<div class="timeline_item_title">Cung cấp nguy&ecirc;n liệu Nha Đam</div>
<img alt="Nhận Huân chương Lao động hạng Ba" src="images/bin/imagenews/nhakho-1486802630332961296.jpg" style="width: 323px; height: 170px;" title="Nhận Huân chương Lao động hạng Ba" />
<div class="timeline_des">
<p>Trở th&agrave;nh C&ocirc;ng ty chế biến v&agrave; cung cấp nguy&ecirc;n liệu Nha Đam lớn nhất Việt Nam.</p>

<p>Với việc ph&aacute;t triển v&ugrave;ng nguy&ecirc;n liệu nha đam hơn 100ha ở miền Nam Trung Bộ, đầu tư d&acirc;y truyền m&aacute;y m&oacute;c hiện đại, năm 2012 C&ocirc;ng ty Thực phẩm GC l&agrave; nh&agrave; cung cấp sản phẩm nha đam lớn nhất Việt Nam cho những C&ocirc;ng ty lớn như C&ocirc;ng ty Vinamilk, Rita, Fesdy, &hellip;</p>

<p>Với c&aacute;c sản phẩm từ ớt v&agrave; gia vị, c&ocirc;ng ty thực phẩm GC đ&atilde; l&agrave; nh&agrave; cung cấp ch&iacute;nh nguy&ecirc;n liệu cho c&aacute;c c&ocirc;ng ty sản xuất m&igrave; h&agrave;ng đầu Việt Nam</p>
</div>
</div>

<div class="clearAll">&nbsp;</div>

<div class="clearAll">&nbsp;</div>
</div>

<div class="clearAll">&nbsp;</div>

<div class="year_b left_icon" id="year_b_1">2011</div>

<div class="clearAll">&nbsp;</div>

<div class="timeline">
<div class="timeline_item timeline_right timeline_last first_timeline">
<div class="timeline_arrow">&nbsp;</div>

<div class="timeline_item_title">Th&agrave;nh lập C&ocirc;ng ty TNHH G.C food</div>
<img alt="nha may" src="images/bin/imagenews/nhamaygcfood-14867987351006188375.jpg" style="width: 323px; height: 170px;" title="" />
<div class="timeline_des">
<div>
<div>
<p>C&ocirc;ng ty TNHH Thực Phẩm GC - GC food tiền th&acirc;n l&agrave; cơ sở kinh doanh n&ocirc;ng sản tại Bi&ecirc;n Ho&agrave;, Đồng Nai được th&agrave;nh lập từ năm 2007, đến năm 2011 c&ugrave;ng với việc th&agrave;nh lập nh&agrave; m&aacute;y ở Khu c&ocirc;ng nghiệp Giang Điền đ&atilde; được đổi t&ecirc;n th&agrave;nh C&ocirc;ng ty TNHH Thực phẩm GC, hoạt động theo giấy chứng nhận đăng k&yacute; kinh doanh v&agrave; đăng k&yacute; thuế số: 3602503768 do Sở Kế hoạch v&agrave; Đầu tư tỉnh Đồng Nai cấp.<br />
Sản phẩm ch&iacute;nh: sản xuất v&agrave; chế biến sản phẩm từ c&acirc;y nha đam, dừa v&agrave; thạch dừa, c&agrave; ph&ecirc; c&aacute;c loại, ớt v&agrave; c&aacute;c nguy&ecirc;n liệu từ ớt, h&agrave;ng gia vị như h&agrave;nh, tỏi, &hellip;</p>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
