<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Apply</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
</head>

<body>

<table width="600"  border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#f2f2f2" style="padding:10px 10px 10px 10px"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" bgcolor="#FFFFFF"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="padding:10px 10px 10px 15px">
				  <p style="font-size:12px; font-family:Arial, Helvetica, sans-serif"><strong>
					Dear <?=$fullname?>,</strong>

			        <br>
			        <br>
			        Cảm ơn bạn đã nộp hồ sơ đến GCfood!<br>
					<br>
					Bộ phận nhân sự của chúng tôi sẽ xem hồ sơ của bạn. Chúng tôi sẽ liên lạc với bạn sớm nhất nếu hồ sơ của bạn phù hợp với yêu cầu công việc bạn ứng tuyển. 
					<br>
					<br>
					Trân trọng,<br>
					<br>
					Mọi thông tin liên hệ<br>
					Hotline: +84 8989.204.68<br>
					Email: <a href="mailto:info@gcfood.com.vn">info@gcfood.com.vn</a><font size="2" face="Arial">.</font></td>
              </tr>
            </table></td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</body>
</html>