<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Thong tin lien he</title>
<style type="text/css">
<!--
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->
</style>
</head>

<body>

<table width="600"  border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td bgcolor="#f2f2f2" style="padding:10px 10px 10px 10px"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" bgcolor="#FFFFFF"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td style="padding:10px 10px 10px 15px">
				  <p style="font-size:12px; font-family:Arial, Helvetica, sans-serif"><strong>
					Thông tin yêu cầu của khách hàng gửi từ web lacoco.vn</strong><br>
			        <br>
					Yêu cầu: <?=$yeucau_st?>
					<br>
					<br>
					Tên sản phẩm: <?=$product_name?>
					<br>
					<br>
			        Họ và tên: <?=$fullname?>
					<br><br>
			        Điện thoại: <?=$tel?>
					<br><br>
				  	Email: <?=$email?>
					<br><br>				  										  	
                  	Nội dung liên hệ:
                    <br><br>
                  	<?=nl2br($content)?>
                    <br>
				    <br>
                  </td>
              </tr>
            </table></td>
          </tr>
        </table>
        </td>
      </tr>
    </table>
    </td>
  </tr>
</table>
</body>
</html>