<input name="fee_trans" type="hidden" id="fee_trans" value="<?=$fee?>"  />
<input name="sale_trans" type="hidden" id="sale_trans" value="<?=$sale?>"  />
<input name="fee_transfer" type="hidden" id="fee_transfer" value="<?=$fee_transfer?>"  />
<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr >
    <td width="40" class="do" height="26">&nbsp;</td>
    <td width="398" height="26" align="left" ><?=$lang['tl_sphivanchuyen']?> </td>
    <td width="107" class="do" align="left">&nbsp;</td>
    <td width="107"  height="26" align="right"><?=$fee?></td>
    <td width="434"  align="right"><?=$sale?></td>
    <td width="215" class="title_cam" height="26" align="right"><?=$fee_transfer?></td>
  </tr>
  <tr background="images/bg_viewcart_bottom.gif">
    <td class="do" height="25">&nbsp;</td>
    <td height="25" align="left" class="title_cam"><?=$lang['tl_stongthanhtoan']?></td>
    <td class="do" align="left"></td>
    <td class="do" height="25" align="left">&nbsp;</td>
    <td class="do" align="right">&nbsp;</td>
    <td class="title_cam" height="25" align="right"><?=$totalpay_final?></td>
  </tr>
</table>