<table width="100%" border="0" cellpadding="0" cellspacing="0">
  <tr >
    <td width="34" class="do" height="26">&nbsp;</td>
    <td width="264" height="26" align="left" ><?=$lang['tl_sphivanchuyen']?> </td>
    <td width="96" class="do" align="left">&nbsp;</td>
    <td width="155" class="content" height="26" align="right"><?=$fee?></td>
    <td width="106" class="content" align="right"><?=$sale?></td>
    <td width="447" class="title_cam" height="26" align="right"><?=$fee_transfer?></td>
  </tr>
  <tr >
    <td class="do" height="25">&nbsp;</td>
    <td height="25" align="left" class="title_cam"><?=$lang['tl_stongthanhtoan']?></td>
    <td class="do" align="left">&nbsp;</td>
    <td class="do" height="25" align="left">&nbsp;</td>
    <td class="do" align="right">&nbsp;</td>
    <td class="title_cam" height="25" align="right"><?=$totalpay_final?></td>
  </tr>
</table>