<form name="fcart" method="post" >
	<div class="cart-page">		
		<?=$viewcart_list_rs?>
	</div>		
	<div class="cart-control group">
		<a href="thong-tin-gio-hang.html" class="btn-prev"><span> <?=$lang['tl_cquaylai']?></span> </a>
		<a href="/" class="btn1"><span><?=$lang['tl_muatiep']?></span></a>
		<a href="#" class="btn3" onclick="emptycart('emptycart');" ><span> <?=$lang['tl_huygiohang']?> </span></a>   
		<a href="thong-tin-nguoi-mua.html" class="btn-next"><span> <?=$lang['tl_ctieptuc']?></span> </a>
	</div>		 		
</form>	