<form name="fcart" method="post" >
		 <?=$viewcart_list_rs?>
		               
                <div class="cart-control group">
                    <a href="thong-tin-gio-hang.html" class="ql" > <?=$lang['tl_cquaylai']?></a>
					<a href="/" class="btn1"><span> <?=$lang['tl_muatiep']?></span> </a>                    
                    <a href="#" class="btn3" onclick="emptycart('emptycart');" ><span><?=$lang['tl_huygiohang']?></span></a>
                    <a href="thong-tin-nguoi-mua.html" class="tt"><?=$lang['tl_ctieptuc']?></a>
                </div>
		 		
</form>			