<table>
                    <thead>
                        <tr>
                            <td>
                                <span>
                                    <?=$lang['tl_stt']?>
                                </span>
                            </td>
                            <td class="col-product">
                                <span>  <?=$lang['tl_csanpham']?>   </span>
                            </td>
                            <td>
                                <span>  <?=$lang['tl_cdongia']?>   </span>
                            </td>
                            <td>
                                <span>  <?=$lang['tl_cgiamgia']?>    </span>
                            </td>
                            <td>
                                <span>   <?=$lang['tl_csoluong']?>   </span>
                            </td>
                            <td>
                                <span>  <?=$lang['tl_cthanhtien']?>   </span>
                            </td>
                            <td>
                                <span>  <?=$lang['tl_cthanhtien']?><br /> <em>(<?=$lang['tl_csaugiam']?>)  </em> </span>
                            </td>
                            <td>
                                <span><?=$lang['tl_cloaibo']?></span>
</td>
                        </tr>
                    </thead>
                    <tbody>
                        <?=$list_pro_com?>
                    </tbody>
                </table>
				<div class="total group">
                  <p><?=$lang['tl_ctongtien']?></p>
                    <div class="total-right">
                        <span><?=$totalpay?></span>
                        <strong><?=$totalpay_disc?></strong>
                    </div>
                </div>