<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title><?=$title?></title>
<link rel="stylesheet" type="text/css" href="css/wstyle.css" />
<script type="text/javascript" src="js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="js/webtoolkit.base64.js"></script>
<script type="text/javascript" src="wysiwyg/wysiwyg.js"></script>
</head>
<div align="left">
<form  name="f1" > 
<table width="100%"  border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
 <tr bgcolor="#FFF5EA">
    <td width="17" height="40" class='menu'>&nbsp;</td>
    <td width="271" class='menu'><?=$title_action?></td>
    <td width="797" class='menu'>&nbsp;</td>
  </tr>
 <tr>
   <td class='menu'>&nbsp;</td>
   <td class='menu'><?=$lang['adm_tenchuyenmuc']?> 1 </td>
   <td class='menu'><?=$typename?></td>
 </tr>
 <tr>
   <td class='menu'>&nbsp;</td>
   <td class='menu'>&nbsp;</td>
   <td class='menu'>&nbsp;</td>
 </tr>
 <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="271" class='menu'><?=$lang['adm_tenchuyenmuc']?> 2</td>
    <td width="797" class='menu'>
	<?=$catname?></td>
  </tr>
 <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="271" class='menu'>&nbsp;</td>
    <td width="797" class='menu'>&nbsp;    </td>
  </tr>
  <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="271" class='menu'><?=$lang['adm_thutu']?>
    <font size="1" color="#D7261C">*</font></td>
    <td width="797" class='menu'>
    <?=$iorder?></td>
  </tr>
 <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="271" class='menu'>&nbsp;</td>
    <td width="797" class='menu'>&nbsp;    </td>
  </tr>
 <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="271" class='menu'><?=$lang['adm_trangthai']?> </td>
    <td width="797" class='menu'>
    <?=$status?></td>
  </tr>
 <tr>
    <td width="17" class='menu'>&nbsp;</td>
    <td width="271" class='menu'>&nbsp;</td>
    <td width="797" class='menu'>&nbsp;</td>
  </tr>
    <tr>
    <td colspan="3" align="center" height="41" class='menu'>
    
    <input type="button" name="cancel" value="Đóng" onClick="javascript:window.close();" class="button" style="width:60px;height:22px ">    </td>
  </tr>
  </table>
  </form>
</div>
<script language="javascript1.2">
               function checkform(){
                    
                    if (document.f1.catname.value==""){
                                        alert("Please enter Category name!");
                                        document.f1.catname.focus();
                                        return false;
                                }
                     if (document.f1.iorder.value==""){
                                        alert("Please enter order!");
                                        document.f1.iorder.focus();
                                        return false;
                                }
                      
                     return true;
               }
            
</script>